= form_tag("/files", method: "post", multipart: true, id: "singleFileUploadForm") do
  = hidden_field_tag(:collection_id, @collection_id)
  .row
    %fieldset.span6
      %legend
        1. Terms of Service Agreement
      %span.help-block
        Please read and accept the
        %a{href: "/terms" , data: { remote: true} }
          terms of use
      %label.checkbox{ for: "terms_of_service" }
        I have read and accept the terms of service.
        = check_box_tag 'terms_of_service'
    %filedset.span6
      %legend
        2. File Upload
      = label_tag "file", "File to upload"
      = file_field_tag 'file', required: true, "aria-required" => true
  .form-actions
    = submit_tag "Upload", disabled: "true", class: 'btn btn-large btn-primary'
