<% content_for :local_js do %>
   if (navigator.userAgent.match("MSIE")){
      $("#new_nu_core_file").validate();
   }


$('#permissions_display').show();

// initialize popover helpers
$("a[rel=popover]").popover({ html: true });

confirmation_needed = true;
window.onbeforeunload = confirmExit;
function confirmExit(){
      if(confirmation_needed){ 
      // if you return a string it will be displayed in between "don't navigate away"
      // and "click Ok to navigate away or cancel to stay put" in the confirm dialog          
          $.ajax({
              url: '<%= destroy_incomplete_files_path %>',
              type: 'DELETE',
              success: function(result) {                  
              }
          });         
          return "Your metadata has not been saved, if you leave the process now your uploaded files will be deleted.";
      }
 }  
<% end %>

<h1>Apply Metadata</h1>
<br />
<%= form_for(@nu_core_file, :url => files_process_metadata_path, :html => {:multipart => true, :class => 'form-horizontal'}) do |f| %>

  <%= hidden_field_tag(:collection_id, @incomplete_files.first.parent.identifier) %>

  <%= render :partial => 'nu_core_files/metadata/default', :formats => [:html], :locals => {:f => f} %>

  <!-- We need to account for the different file types here to extend the metdata screen -->

  <%= render :partial => 'permission_form', :formats => [:html], :locals => { :gf => @nu_core_file } %>

  <div class="row form-actions" id="permissions_submit">
          <%= button_tag '<i class="icon-save"></i> Save'.html_safe, :type => 'submit', :class => 'btn-primary btn-large', :onclick => "confirmation_needed = false;", :id => "upload_submit", :name => "update_permission" %>
  </div>

<% end %>