%h3.py-3 Edit Collection

%ul.nav.nav-tabs
  %li.nav-item
    %button#metadata-tab.nav-link.active{"aria-controls" => "metadata", "aria-selected" => "true", "data-bs-target" => "#metadata", "data-bs-toggle" => "tab", role: "tab", type: "button"} Metadata
  %li.nav-item
    %button#permissions-tab.nav-link{"aria-controls" => "permissions", "aria-selected" => "false", "data-bs-target" => "#permissions", "data-bs-toggle" => "tab", role: "tab", type: "button"} Permissions
  %li.nav-item
    %a.nav-link{href: xml_editor_path(params[:id])} XML

.tab-content
  #metadata.tab-pane.active{"aria-labelledby" => "metadata-tab", role: "tabpanel"}
    .py-2.px-1
      = bootstrap_form_tag(url: collection_path(params[:id]), method: :patch, multipart: true) do |f|
        %label.form-label{:for => "thumbnail"} Thumbnail
        %input#thumbnail.form-control.mb-3{:name => "thumbnail", :type => "file"}/
        = bootstrap_fields_for :collection do |c|
          = c.text_field :title, value: @collection['title']
          = c.text_area :description, rows: 10, value: @collection['description']
        .well.p-3.my-3.rounded-3
          = f.button :submit, class: "btn btn-success"
          = link_to "Cancel", collection_path(params[:id]), class: "btn btn-warning"
  #permissions.tab-pane{"aria-labelledby" => "permissions-tab", role: "tabpanel"}
    .py-2.px-1
      = bootstrap_form_tag(url: collection_path(params[:id]), method: :patch, multipart: true) do |f|
        .row
          .col
            %h5.pb-2
              Mass Permissions
            %select.form-select.form-select-sm#mass{"aria-label" => "Default select example"}
              %option{selected: "selected"} Public
              %option{value: "1"} Private
            %ul.small.pt-2
              %li Setting to 'public' will allow anyone accessing the site to see your item.
              %li Setting to 'private' will only allow groups that are explicitly chosen to see your item.
          .col
            %h5.pb-2 Embargo Release Date
            %input.form-select.form-select-sm#embargo{name: "embargo", type: "date", value: ""}/
            %label.small.py-3{for: "embargo"} If this item is embargoed, please enter the release date.
        .row
          %h5.pb-2
            Permissions
          .row.py-1
            .col
              %select.form-select.form-select-sm#groups{"aria-label" => "Default select example"}
                %option{selected: "selected"} Select Group
                %option{value: "1"} Group 1
                %option{value: "1"} Group 2
            .col-2
              %select.form-select.form-select-sm#ability{"aria-label" => "Default select example"}
                %option{selected: "selected"} Ability
                %option{value: "1"} Read
                %option{value: "2"} Edit
            .col-2
              %button.btn.btn-danger.form-control.btn-sm{type: "button"}
                %i.fa.fa-times{"aria-hidden" => "true"}
          .row.py-2
            .col-2
              %button.btn.btn-success.btn-sm.form-control{type: "button"}
                %i.fa.fa-plus.small{"aria-hidden" => "true"}
                Add Group