%h3.py-3 Edit Collection

%ul.nav.nav-tabs
  %li.nav-item
    %button#metadata-tab.nav-link.active{"aria-controls" => "metadata", "aria-selected" => "true", "data-bs-target" => "#metadata", "data-bs-toggle" => "tab", role: "tab", type: "button"} Metadata
  %li.nav-item
    %button#permissions-tab.nav-link{"aria-controls" => "permissions", "aria-selected" => "false", "data-bs-target" => "#permissions", "data-bs-toggle" => "tab", role: "tab", type: "button"} Permissions
  %li.nav-item
    %a.nav-link{href: xml_editor_path(params[:id])} XML

.tab-content
  #metadata.tab-pane.active{"aria-labelledby" => "metadata-tab", role: "tabpanel"}
    .py-2.px-1
      = bootstrap_form_tag(url: collection_path(params[:id]), method: :patch, multipart: true) do |f|
        %label.form-label{:for => "thumbnail"} Thumbnail
        %input#thumbnail.form-control.mb-3{:name => "thumbnail", :type => "file"}/
        = bootstrap_fields_for :collection do |c|
          = c.text_field :title, value: @collection['title']
          = c.text_area :description, rows: 10, value: @collection['description']
        .well.p-3.my-3.rounded-3
          = f.button :submit, class: "btn btn-success"
          = link_to "Cancel", collection_path(params[:id]), class: "btn btn-warning"
  #permissions.tab-pane{"aria-labelledby" => "permissions-tab", role: "tabpanel"}
    .py-2.px-1
      %h5.pb-2
        Mass Permissions
      %select.form-select.form-select-sm{"aria-label" => "Default select example"}
        %option{selected: "selected"} Public
        %option{value: "1"} Private
      %ul.small.pt-2
        %li Setting to 'public' will allow anyone accessing the site to see your item.
        %li Setting to 'private' will only allow groups that are explicitly chosen to see your item.
      %h5.pb-2
        Permissions
      %h5.pb-2
        Embargo Release Date