- content_for(:container_header) do
  = render 'shared/breadcrumbs', show_add: false

%h3.py-3 Edit Collection

- show_history = can?(:read, :audit_event)
%ul.nav.nav-tabs{"data-controller" => "tab-hash"}
  %li.nav-item
    %button#metadata-tab.nav-link.active{"aria-controls" => "metadata", "aria-selected" => "true", "data-bs-target" => "#metadata", "data-bs-toggle" => "tab", role: "tab", type: "button"} Metadata
  %li.nav-item
    %button#permissions-tab.nav-link{"aria-controls" => "permissions", "aria-selected" => "false", "data-bs-target" => "#permissions", "data-bs-toggle" => "tab", role: "tab", type: "button"} Permissions
  %li.nav-item
    %a.nav-link{href: xml_editor_path(params[:id])} XML
  - if show_history
    %li.nav-item
      %button#history-tab.nav-link{"aria-controls" => "history", "aria-selected" => "false", "data-bs-target" => "#history", "data-bs-toggle" => "tab", role: "tab", type: "button"} History

.tab-content
  #metadata.tab-pane.active{"aria-labelledby" => "metadata-tab", role: "tabpanel"}
    .py-2.px-1
      = bootstrap_form_tag(url: collection_path(params[:id]), method: :patch, multipart: true) do |f|
        %label.form-label{:for => "thumbnail"} Thumbnail
        %input#thumbnail.form-control.mb-3{:name => "thumbnail", :type => "file"}/
        = bootstrap_fields_for :collection do |c|
          = render 'shared/descriptive_fields', f: c, descriptive: @descriptive, keywords: false
        .well.p-3.my-3.rounded-3
          = f.button :submit, class: "btn btn-success"
          = link_to "Cancel", collection_path(params[:id]), class: "btn btn-warning"
  #permissions.tab-pane{"aria-labelledby" => "permissions-tab", role: "tabpanel"}
    .py-2.px-1{ data: { controller: "group-permissions", "group-permissions-resource-value": "collection" } }
      = bootstrap_form_tag(url: collection_path(params[:id]), method: :patch, multipart: true) do |f|
        .row
          .col-sm
            %h5.pb-2
              General Permissions
            %select.form-select.form-select-sm#mass{name: "mass", "aria-label" => "Default select example"}
              %option{value: "public", selected: @public ? "selected" : nil} Public
              %option{value: "private", selected: @public ? nil : "selected"} Private
            %ul.small.pt-2
              %li Setting to 'public' will allow anyone accessing the site to see your item.
              %li Setting to 'private' will only allow groups that are explicitly chosen to see your item.
        = render 'shared/group_permissions', resource: 'collection'
        %div
          .well.p-3.my-3.rounded-3
            = f.button :submit, class: "btn btn-success"
            = link_to "Cancel", collection_path(params[:id]), class: "btn btn-warning"
  - if show_history
    #history.tab-pane{"aria-labelledby" => "history-tab", role: "tabpanel"}
      = render 'audit_events/history', resource_id: params[:id]
