- content_for(:page_title) do
  = @collection.title
- content_for(:container_header) do
  = render 'shared/breadcrumbs'
  -# = breadcrumbs

  .container.p-4.my-3.well.rounded-3
    .row
      = render partial: "shared/thumbnail", locals: {src: @collection.thumbnail, src_2x: @collection.thumbnail_2x} if !@collection.thumbnail.blank?
      .col
        - if @response.documents.present? || params[:q].present?
          .scoped-search-wrap.float-md-end.ms-md-3.mb-3.mb-md-0
            = render 'shared/scoped_search', path: collection_path(@collection.id), label: 'Search this collection'
        %h3.d-inline
          = @collection.title
        %h5.d-inline.text-black-50
          %span.fa-solid.fa-folder-open.ps-2.pe-1
          Collection
        .clearfix.pt-3
        = @collection.description
        .clearfix.pt-3
          - if user_signed_in?
            .float-end
              = link_to "Edit", edit_collection_path(@collection.id), class: "px-3"
              - if @can_tombstone && @response.documents.empty?
                = render 'shared/tombstone_modal',
                         id:   @collection.id,
                         kind: 'collection',
                         path: tombstone_collection_path(@collection.id)

-# Only mount the facet sidebar when the collection has children. An empty
-# collection falls through to catalog/_zero_results' calm empty state and goes
-# full-width (no "Limit your search" / sort / per-page chrome to show).
- if @response.documents.present?
  - content_for(:sidebar) do
    = render 'catalog/search_sidebar'

= render 'catalog/search_results'
= render 'shared/downloads_modal'
