- content_for(:container_header) do
  = breadcrumbs

  .p-4.my-3.well.rounded-3
    %h3
      = @collection.plain_title
    = @collection.plain_description

- content_for(:sidebar) do
  = render 'catalog/search_sidebar'

= render 'catalog/search_results'
