%div.row
  %div.col-md-12
    %div.well
      %h2
        = @document.title
        %small
          =icon('folder-open')
          ="#{@document.klass}"
      %hr
      %div.handle
        =icon('link')
        ="Permanent URL:"
        -# =link_to TODO
%div.row
  %div.col-md-3.col-sm-4#sidebar
    = render 'search_sidebar', locals: {documents: @document.children} #needs to reflect this search TODO
  %div.col-md-9.col-sm-8#content
    = render 'constraints'
    = render 'search_header'
    = render 'results_pagination', locals: {response: @response} #needs to reflect this search TODO
    = render_document_index @document.children
    -# = render_document_index(@document.children)
    = render 'results_pagination'
