%h1.py-3 Atlas Find-or-Create (System User)

%p.text-muted
  Simulates an SSO callback. Submitting calls Atlas as the system user to
  upsert the NUID with the supplied groups, then signs you in as that user.

= bootstrap_form_tag url: atlas_process_find_or_create_path do |f|
  = bootstrap_fields_for :user do |u|
    = u.text_field :nuid
    = u.text_area :groups, rows: 6, help: 'One group identifier per line.'
  .well.p-3.my-3.rounded-3
    = f.submit 'Find or Create + Sign In', class: 'btn btn-success'
