!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3 Load Completion Alert

    %p The following load has completed:
    %ul
      %li= "Loader: #{@load.loader_name}"
      %li= "Collection: #{@load.collection}"
      %li= "Time Started: #{@load.created_at}"
      %li= "Time Completed: #{@load.updated_at}"
      %li= "Number of Files: #{@load.number_of_files}"

    %p= "A link to the load report can be found #{link_to 'here', loaders_report_path(@load.id)}".html_safe
