!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3= @load.loader_name + " Load Completion Alert"

    %p The following load has completed:
    %ul
      %li= "Loader: #{@load.loader_name}"
      %li= "Collection: #{Collection.find("#{@load.collection}").title}"
      %li= "User: #{@user.name}"
      %li= "Time Started: #{@load.created_at}"
      %li= "Time Completed: #{@load.updated_at}"
      %li= "Number of Files: #{@load.number_of_files}"
      %li= "Success Count: #{@load.success_count}"
      %li= "Modified Count: #{@load.modified_count}"
      %li= "Error Count: #{@load.fail_count}"
      -if @load.loader_name == t('loaders.marcom.long_name')
        %p= "A link to the load report can be found #{link_to 'here', loaders_marcom_report_url(@load.id)}".html_safe
      - elsif @load.loader_name == t('loaders.coe.long_name')
        %p= "A link to the load report can be found #{link_to 'here', loaders_coe_report_url(@load.id)}".html_safe
      - elsif @load.loader_name == t('loaders.cps.long_name')
        %p= "A link to the load report can be found #{link_to 'here', loaders_cps_report_url(@load.id)}".html_safe
      - elsif @load.loader_name == t('loaders.emsa.long_name')
        %p= "A link to the load report can be found #{link_to 'here', loaders_emsa_report_url(@load.id)}".html_safe
      - elsif @load.loader_name == t('loaders.bouve.long_name')
        %p= "A link to the load report can be found #{link_to 'here', loaders_bouve_report_url(@load.id)}".html_safe
      - elsif @load.loader_name == t('loaders.damore.long_name')
        %p= "A link to the load report can be found #{link_to 'here', loaders_damore_report_url(@load.id)}".html_safe
      - elsif @load.loader_name == t('loaders.aaia.long_name')
        %p= "A link to the load report can be found #{link_to 'here', loaders_aaia_report_url(@load.id)}".html_safe
      - elsif @load.loader_name == t('loaders.libcom.long_name')
        %p= "A link to the load report can be found #{link_to 'here', loaders_libcom_report_url(@load.id)}".html_safe
      - elsif @load.loader_name == t('loaders.camd.long_name')
        %p= "A link to the load report can be found #{link_to 'here', loaders_camd_report_url(@load.id)}".html_safe
      - elsif @load.loader_name == t('loaders.ogl.long_name')
        %p= "A link to the load report can be found #{link_to 'here', loaders_ogl_report_url(@load.id)}".html_safe
