- content_for :page_title, @message.subject

.well.p-3.my-3.rounded-3.inbox-message
  %header.d-flex.justify-content-between.align-items-start.gap-3
    %div
      %h1.h4.mb-2= @message.subject
      .inbox-message__meta.text-muted
        From
        = message_sender(@message, @sender_names)
        - if @message.group_addressed?
          to
          = message_group_chip(@message)
        ·
        = message_timestamp(@message.created_at)
    %div
      = button_to message_path(@message), method: :delete, class: 'btn btn-outline-danger btn-sm',
        form: { data: { turbo_confirm: 'Dismiss this message from your inbox?' } } do
        %i.fa-solid.fa-trash-can.me-1{'aria-hidden' => 'true'}
        Dismiss
  %hr
  .inbox-message__body= message_body(@message.body)

= link_to messages_path, class: 'btn btn-link ps-0' do
  %i.fa-solid.fa-arrow-left.me-1{'aria-hidden' => 'true'}
  Back to inbox
