.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "deleteModalLabel", role: "dialog", tabindex: "-1", id: "deleteModal#{index}"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} x
    %h3#deleteModalLabel
      = title
  .modal-body
    -if !core_file.nil?
      %p= "Are you sure you want to permanently delete \"#{core_file.title}\"?"
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal" } Close
    -if !core_file.nil?
      = link_to("Delete", admin_delete_file_path(core_file), method: :delete, class: "btn btn-danger")
    -else
      = submit_tag button_title, class: "btn btn-danger"
