.core_files
  = render 'catalog/results_pagination'

  %table.table.table-striped
    - @tombstoned.each do |core_file|
      %tr
        %td
          .large= core_file.title.html_safe
        %td
          = link_to("View", admin_view_file_path(core_file),
          class: "btn btn-small btn-info")
        %td
          = link_to("Revive", admin_revive_file_path(core_file),
          class: "btn btn-small btn-warning")
        %td
          = link_to("Delete", admin_delete_file_path(core_file),
          method: :destroy,
          confirm: "This action is irreversible",
          class: "btn btn-small btn-danger")

  = render 'catalog/results_pagination'
