- content_for :page_header do
  %h1.page-header
    ="#{@employee.pretty_employee_name}"
    %small
      Communities
    %nav{role: "navigation", class: "pull-right"}
      %ul.nav.nav-tabs
        %li
          %a{ href: employee_path(@employee) }
            %i.icon-user
            - if current_user && current_user.nuid == @employee.nuid
              My Collections
            - else
              ="#{@employee.employee_first_name}'s collections"
        %li
          %a{ href: employee_files_path(@employee) }
            %i.icon-file
            - if current_user && current_user.nuid == @employee.nuid
              My Deposits
            - else
              ="#{@employee.employee_first_name}'s files"
        -if !current_user.nil? && current_user.loader? && current_user.nuid == @employee.nuid
          %li
            %a{ href: employee_loaders_path(@employee) }
              %i.icon-upload-alt
              My Loaders

-if @communities.length == 0
  .alert.alert-info
    %strong
      No communities for this employee.
    %button.close{"data-dismiss" => "alert", type: "button"} &#215;
-else
  .row
    - if current_user
      - current_user.view_pref
      - drs_view_class = "drs-items-#{current_user.view_pref}"
      %aside.drs-sidebar{class: current_user.view_pref == 'grid' ? 'span12' : "span3" }
        =render partial: 'shared/sets/sets_sidebar'

      %section{class: current_user.view_pref == 'grid' ? 'span12' : "span9" }
        %ul.drs-items{class: drs_view_class }
          - @communities.each do |c|
            - c = Community.find(c)
            - c = SolrDocument.new(ActiveFedora::SolrService.query("id:\"#{c.pid}\"").first)
            - c.pid
            - @thumbs = c.thumbnail_list
            = render partial: 'shared/drs_item/drs_item' , locals: { item: c }
        =render partial: 'shared/sets/bottom_action_menu'
    - else
      %aside.drs-sidebar.span3
        =render partial: 'shared/sets/sets_sidebar'

      %section.span9
        %ul.drs-items{class: "drs-items-list" }
          - @communities.each do |c|
            - c = Community.find(c)
            - c = SolrDocument.new(ActiveFedora::SolrService.query("id:\"#{c.pid}\"").first)
            - c.pid
            - @thumbs = c.thumbnail_list
            = render partial: 'shared/drs_item/drs_item' , locals: { item: c }
