- content_for :page_header do
  %h1.page-header
    ="#{@employee.pretty_employee_name}"
    %small
      All Files
    %nav{role: "navigation", class: "pull-right"}
      %ul.nav.nav-tabs
        %li
          %a{ href: employee_path(@employee) }
            %i.icon-user
            - if current_user && current_user.nuid == @employee.nuid
              My Collections
            - else
              ="#{@employee.employee_first_name}'s collections"
          %li
            %a{ href: employee_communities_path(@employee) }
              %i.icon-group
              - if current_user && current_user.nuid == @employee.nuid
                My Communities
              - else
                ="#{@employee.employee_first_name}'s communities"
          -if current_user.loader? && current_user.nuid == @employee.nuid
            %li
              %a{ href: employee_loaders_path(@employee) }
                %i.icon-upload-alt
                My Loaders


.row
  - if current_user
    - current_user.view_pref
    %aside.drs-sidebar{class: current_user.view_pref == 'grid' ? 'span12' : "span3" }
      =render partial: 'shared/sets/sets_sidebar'

    %section{class: current_user.view_pref == 'grid' ? 'span12' : "span9" }
      = render 'catalog/results_pagination'
      =render :partial => 'catalog/document_list'
      = render 'catalog/results_pagination'
      =render partial: 'shared/sets/bottom_action_menu'
  - else
    %aside.drs-sidebar.span3
      =render partial: 'shared/sets/sets_sidebar'

    %section.span9
      = render 'catalog/results_pagination'
      =render :partial => 'catalog/document_list'
      = render 'catalog/results_pagination'
