- content_for :page_header do
  %h1.page-header
    ="#{@employee.pretty_employee_name}"
    %small
      All Files
    %nav{role: "navigation", class: "pull-right"}
      %ul.nav.nav-tabs
        %li
          %a{ href: employee_path(@employee) }
            %i.icon-user
            - if current_user && current_user.nuid == @employee.nuid
              My collections
            - else
              ="#{@employee.pretty_employee_name}'s collections"
        %li
          %a{ href: my_communities_path }
            %i.icon-group
            My Communities


.row
  - if current_user
    - current_user.view_pref
    %aside.drs-sidebar{class: current_user.view_pref == 'grid' ? 'span12' : "span3" }
      =render partial: 'shared/sets/sets_sidebar'

    %section{class: current_user.view_pref == 'grid' ? 'span12' : "span9" }
      = render 'catalog/results_pagination'
      =render :partial => 'catalog/document_list'
      = render 'catalog/results_pagination'
      =render partial: 'shared/sets/bottom_action_menu'
  - else
    %aside.drs-sidebar.span3
      =render partial: 'shared/sets/sets_sidebar'

    %section.span9
      = render 'catalog/results_pagination'
      =render :partial => 'catalog/document_list'
      = render 'catalog/results_pagination'
