-content_for :page_header do
  %h1.page-header
    ="#{@employee.pretty_employee_name}"
    %small
      All Loaders
    %nav{role: "navigation", class: ["pull-right"]}
      %ul.nav.nav-tabs
        %li
          %a{ href: employee_path(@employee) }
            %i.icon-user
            My Collections
        %li
          %a{ href: employee_files_path(@employee) }
            %i.icon-file
            My Deposits
        %li
          %a{ href: employee_communities_path(@employee) }
            %i.icon-group
            My Communities


%section.row
  %article.span6
    %h3 My Loaders
    - if current_user.marcom_loader?
      = link_to("Marketing and Communications", loaders_marcom_path, class: "btn btn-lg btn-primary")
      %br
      %br
    - if current_user.coe_loader?
      = link_to("College of Engineering", loaders_coe_path, class: "btn btn-lg btn-primary")
      %br
      %br
    - if current_user.cps_loader?
      = link_to("College of Professional Studies", loaders_cps_path, class: "btn btn-lg btn-primary")
      %br
      %br

  %article.span6
    %h3 Past Loads
    - q = ""
    - l = current_user.loaders.length
    - i = 0
    - current_user.loaders.each do |loader|
      - i = i + 1
      - if i == 1
        - q = "#{loader}"
      - elsif i < l
        - q = "#{q} OR loader_name = #{loader} OR loader_name = "
      - elsif l == i
        - q = "#{q} OR loader_name = #{loader}"
    //= q
    - @loads = Loaders::LoadReport.where('loader_name = ?', q).find_all
    = render template: "/loaders/index", locals: {loads: @loads}
