-content_for :page_header do
  %h1.page-header
    -if Employee.exists?(current_user.employee_id)
      ="#{@employee.pretty_employee_name}"
      %small
        My Loaders
      %nav{role: "navigation", class: ["pull-right"]}
        %ul.nav.nav-tabs
          %li
            %a{ href: employee_path(@employee) }
              %i.icon-user
              My Collections
          %li
            %a{ href: employee_files_path(@employee) }
              %i.icon-file
              My Deposits
          %li
            %a{ href: employee_communities_path(@employee) }
              %i.icon-group
              My Communities
    -else
      %span.icon-upload-alt( aria-hidden="true")
      My Loaders


%section.row
  %article.span4
    %h3 My Loaders
    - if !current_user.nil?
      - if current_user.marcom_loader?
        = link_to(t('drs.loaders.marcom.long_name'), loaders_marcom_path, class: "btn btn-lg btn-primary")
        %br
        %br
      - if current_user.coe_loader?
        = link_to(t('drs.loaders.coe.long_name'), loaders_coe_path, class: "btn btn-lg btn-primary")
        %br
        %br
      - if current_user.cps_loader?
        = link_to(t('drs.loaders.cps.long_name'), loaders_cps_path, class: "btn btn-lg btn-primary")
        %br
        %br
      - if current_user.emsa_loader?
        = link_to(t('drs.loaders.emsa.long_name'), loaders_emsa_path, class: "btn btn-lg btn-primary")
        %br
        %br
      - if current_user.bouve_loader?
        = link_to(t('drs.loaders.bouve.long_name'), loaders_bouve_path, class: "btn btn-lg btn-primary")
        %br
        %br
      - if current_user.multipage_loader?
        = link_to(t('drs.loaders.multipage.long_name'), loaders_multipage_path, class: "btn btn-lg btn-primary")
        %br
        %br
      - if current_user.mods_spreadsheet_loader?
        = link_to(t('drs.loaders.mods_spreadsheet.long_name'), loaders_mods_spreadsheet_path, class: "btn btn-lg btn-primary")
        %br
        %br

  %article.span8
    %h3 Past Loads
    = render template: "/loaders/index", locals: {loads: @loads}
