-content_for :page_header do
  %h1.page-header
    = render partial: "shared/icon", locals: {class_string: t('drs.personal_graph.icon')}
    = t('drs.personal_graph.title')
    %small
      = @employee.pretty_employee_name
    %nav{role: "navigation", class: ["pull-right"]}
      %ul.nav.nav-tabs
        %li
          %a{ href: employee_files_path(@employee) }
            %i.icon-file
            My Deposits
        %li
          %a{ href: employee_communities_path(@employee) }
            %i.icon-group
            My Communities
        -if !current_user.nil? && current_user.loader? && current_user.nuid == @employee.nuid
          %li
            %a{ href: employee_loaders_path(@employee) }
              %i.icon-upload-alt
              My Loaders

%p.lead
  = t('drs.personal_graph.description')

= render partial: "smart_and_user_collections", locals: { :smart_collections => @employee.user_smart_collections, :user_collections => @employee.user_personal_collections, :editable => true }
