-content_for :page_header do
  %h1.page-header
    = render partial: "shared/icon", locals: {class_string: t('drs.personal_graph.icon')}
    = t('drs.personal_graph.title')
    %small
      = @employee.name

%p.lead
  = t('drs.personal_graph.description')


= render partial: "show_personal_graph", locals: { :generated_folders => @employee.sorted_folders, :user_folders => @employee.personal_folders, :editable => true }
