%h3
  Files
%ul.media-list
  - entries.each_with_index do |entry, i|
    = render partial: 'remove_modal', locals: { entry: entry, entry_id: i, compilation: compilation }
    %li.media
      %a.pull-left{href: core_file_path(entry.pid)}
        - @thumbs = entry.thumbnail_list
        = render partial: 'shared/thumbnails/thumbnail_picture', locals: {thumbs: entry.thumbnail_list}
      .media
        %h4.media-heading
          %a{href: core_file_path(entry.pid)}
            = "#{entry.non_sort} "
            = kramdown_parse(entry.title)
        -if !entry.description.blank?
          %p
            =entry.description
        - if current_user_can? :edit, @compilation
          %a.btn.btn-mini.btn-clear{ href: "#removeFromCompilationModal#{i}", data: { toggle: "modal" } }
            %i.icon-remove
            %span.sr-only
              Remove #{entry.title} from #{compilation.title}
