- compilations.sort_by!{|comp| comp.title}
- compilations.each do |comp|
  %li.span2
    %div.thumbnail.thumbnail-btn.text-center{data: {href: compilation_path(comp)}}
      %a{:href => compilation_path(comp) }
        %h5
          =comp.title
      %nav(role="navigation")
        .btn-group
          %a.btn.btn-mini.btn-clear{title: "Download #{comp.title}", href: prepare_download_path(id: comp.pid), method: 'get', data: {toggle: "tooltip" } }
            %i.icon-download-alt
            %span.sr-only
              Download
          %a.btn.btn-mini.btn-clear{title: "Edit #{comp.title}", href: edit_compilation_path(comp), data: {toggle: "tooltip" } }
            %i.icon-pencil
            %span.sr-only
              Edit
          %a.btn.btn-mini.btn-clear.multi-modal{href: "#deleteItemModal", title: "Delete #{comp.title}", data: { toggle: "modal", title: "#{comp.title}", delete_path: "#{polymorphic_path(comp)}"}}
            %i.icon-remove
            %span.sr-only
              Delete
