= form_tag(add_multiple_entries_path(:id=>compilation.pid), method: 'post', remote: true, class: "multi-compilation") do
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
    %h3#ajaxModalLabel Add to "#{compilation.title}"
  - entries.each do |e|
    - if !e.blank?
      = hidden_field_tag(:entry_ids, e, :multiple=>true, :name=>"entry_ids[]")
  .modal-body
    %p= "Are you sure you want to add #{entries.count} files to \"#{compilation.title}\"?"

  .modal-footer
    %button.btn{"data-dismiss" => "modal"} No
    = submit_tag("Yes",  :class => "btn btn-primary", data: { disable_with: "Please wait..."}, id: "add-to-compilation-#{compilation.pid}")
