.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
  %h3#ajaxModalLabel Create New Compilation

= form_for( compilation, :remote => true ) do |f|
  .modal-body
    = f.label :title 
    = f.text_field :title, required: true, pattern: ".*\\S.*", class: 'input-block-level'

    = f.label :description, "Describe your collection here" 
    = f.text_area :description, placeholder: 'Note that this is optional', class: 'input-block-level'
  .modal-footer
    = f.submit class: "btn btn-primary"
    %button.btn{"data-dismiss" => "modal"} Close