.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
  %h3#ajaxModalLabel Create New #{ t('drs.compilations.name').capitalize }

= form_for( compilation, :remote => true ) do |f|
  .modal-body
    = f.label :title, class: 'required-label'
    = f.text_field :title, required: true, pattern: ".*\\S.*", class: 'input-block-level', placeholder: "My new #{t('drs.compilations.name').capitalize }", "aria-require" => true, required: true

    = f.label :description
    = f.text_area :description, placeholder: 'Note that this is optional', class: 'input-block-level', rows: 5

    = f.label  :mass_permissions
    = f.select :mass_permissions, options_for_select(["public", "private"], compilation.mass_permissions)

    = hidden_field_tag(:entry_id, params[:entry_id])
  .modal-footer
    = f.submit class: "btn btn-primary", data: { disable_with: "Please wait..."}
    %button.btn{"data-dismiss" => "modal"} Close
