#compilationsModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "compilationsModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
    %h3#compilationsModalLabel Add to compilations
  .modal-body
    = form_for( compilation, :remote => true ) do |f| 

      = f.label :title 
      = f.text_field :title, required: true, pattern: ".*\\S.*"

      = f.label :description, "Describe your collection here" 
      = f.text_area :description, placeholder: 'Note that this is optional'  
      
      = f.submit
