.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
  %h3#ajaxModalLabel Add to a #{t('drs.compilations.name').capitalize}.
.modal-body
  =link_to( "Create New #{ t('drs.compilations.name').capitalize }", new_compilation_path(entry_id: params[:file]) , remote: true, id: "createCompilationLink", class: "btn btn-primary btn-block")
  - @compilations.sort_by!{|c| c.title}
  - @compilations.each do |c|
    - pids = c.entry_ids
    - if !pids.include?(params[:file])
      = link_to("#{c.title}", add_entry_path(id: c.pid, entry_id: params[:file]), method: 'post', remote: true, id: "add-to-compilation-#{c.pid}", class: "btn btn-success btn-block btn-compilation", data: { disable_with: "Please wait..."} );
    -  else
      = link_to("Remove from #{ c.title }", delete_entry_path(id: c.pid, entry_id: params[:file]), method: 'delete', remote: true, id: "remove-from-compilation-#{c.pid}", class: "btn btn-danger btn-block btn-compilation");

.modal-footer
  %button.btn{"data-dismiss" => "modal"} Close
