.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
  %h3#ajaxModalLabel Add to your #{t ('drs.compilations.name')}s.
.modal-body
  - @compilations.each do |c| 
    
    - if !c.entry_ids.include?(params[:file])
      = link_to("Add to #{c.title}", add_entry_path(id: c.pid, entry_id: params[:file]), method: 'post', remote: true, id: "add-to-compilation-#{c.pid}", class: "btn btn-success btn-block btn-compilation" );
    -  else 
      = link_to("Remove from #{ c.title }", delete_entry_path(id: c.pid, entry_id: params[:file]), method: 'delete', remote: true, id: "remove-from-compilation-#{c.pid}", class: "btn btn-danger btn-block btn-compilation");
  
.modal-footer
  =link_to( "Create New #{ t('drs.compilations.name').capitalize }", {controller: "compilations", action: "new"} , remote: true, id: "createCompilationLink", class: "btn btn-primary")
  %button.btn{"data-dismiss" => "modal"} Close