%h1.page-header
  - compilations_icon =render partial: 'shared/icon', locals: {class_string: "icon-th-list"  }
  = compilations_icon
  My
  = t('drs.compilations.name').capitalize + 's'
%p.lead
  = t('drs.compilations.lead')
%ul.all-compilations.thumbnails
  - if !@compilations.empty?
    = render partial: 'all_compilations', locals: { compilations: @compilations }
  - else
    %li.span12
      .alert.alert-info
        %strong No #{t('drs.compilations.name') + 's'} available!
        Create a new #{t('drs.compilations.name')} today.
  %li.span2
    %a.thumbnail.thumbnail-btn(href=new_compilation_path)
      %br
      %h5.text-center
        =compilations_icon
        Create a new #{t('drs.compilations.name')}
- if @compilations.any?
  = render partial: 'shared/sets/delete_item_modal', locals: { item: @compilations.first }

