%h1.page-header
  = render partial: 'shared/icon', locals: { class_string: t('drs.compilations.icon') }
  = t('drs.compilations.name').capitalize + 's'
%p.lead
  = t('drs.compilations.lead')

%section.row
  %article.span6
    %h3= "My #{t('drs.compilations.name').capitalize}s"
    %div#my
  %article.span6
    %h3="Collaborative #{t('drs.compilations.name').capitalize}s"
    %div#collaborative


:javascript
  $(document).ready(function(){
    spinner = enable_spinner('my');
    $.getScript("sets/my");
    spinner = enable_spinner('collaborative');
    $.getScript("sets/collaborative");
  });
-# - if @compilations.any?
-#   = render partial: 'shared/sets/delete_item_modal', locals: { item: @compilations.first }
