%h1.page-header
  = render partial: 'shared/icon', locals: { class_string: t('drs.compilations.icon') }
  = t('drs.compilations.name').capitalize + 's'
%p.lead
  = t('drs.compilations.lead')

%section.row
  %article.span6
    %h3= "My #{t('drs.compilations.name').capitalize}s"
    %div#my
    = link_to("Create a new #{t('drs.compilations.name')}", new_compilation_path, class: ["btn", "btn-clear", "btn-block", ] )
  %article.span6
    %h3="Collaborative #{t('drs.compilations.name').capitalize}s"
    %div#collaborative


:javascript
  $(document).ready(function(){
    spinner = enable_spinner('my');
    $.getScript("sets/my");
    spinner = enable_spinner('collaborative');
    $.getScript("sets/collaborative");
  });
