%h1.page-header.compilation-titl
  =render partial: 'shared/icon', locals: {class_string: "icon-th-list"  }
  = @compilation.title
  %small
    = t('drs.compilations.name').capitalize

  - if !@compilation.description.blank?
    %p.lead
      = @pretty_description.html_safe

=render partial: 'compilations_actions_nav.haml', locals: {entries: @entries }
=render partial: 'shared/sets/delete_item_modal', locals: {item: @compilation }



- if @compilation.entries.empty?
  %p This #{t('drs.compilations.name')} is currently empty.
- else
  = render partial: 'all_entries', locals: { compilation: @compilation, entries: @entries }
