%h3= @compilation.title

%p= @compilation.description

- if @compilation.entries.empty?
  %p This compilation is currently empty.  Get out there and add some files. 
- else 
  = render partial: 'all_entries', locals: { compilation: @compilation, entries: @compilation.entries }

%h4 Actions

%span.warning WARNING: Destroying a compilation is not reversible. 
%br 
= link_to("Destroy This Compilation", @compilation, method: 'delete')
%br 
- if @compilation.entry_ids.length > 0
  = link_to("Download this compilation", prepare_download_path(id: @compilation.pid), method: 'get')    