%h1.page-header.compilation-title
  = render_icon('icon-th-list')
  = @compilation.title
  %small
    = t('drs.compilations.name').capitalize

%p.lead
  = @compilation.description

=render partial: 'compilations_actions_nav.haml'



- if @compilation.entries.empty?
  %p This #{t('drs.compilations.name')} is currently empty.  Get out there and add some files. 
- else 
  = render partial: 'all_entries', locals: { compilation: @compilation, entries: @compilation.entries }



%span.warning WARNING: Destroying a #{t('drs.compilations.name')} is not reversible. 

= link_to("Destroy This #{t('drs.compilations.name')}", @compilation, method: 'delete')
%br 
- if @compilation.entry_ids.length > 0
  = link_to("Download this #{t('drs.compilations.name')}", prepare_download_path(id: @compilation.pid), method: 'get') 