- if names.empty?
  .personal_creator.row-fluid
    .span6
      = f.label :creator_first_name, "Creator's first name"
      = f.text_field :creator_first_name, value: "", name: 'nu_core_file[creators][first_names][]', pattern: ".*\\S.*", class: 'input-block-level' , placeholder: "Jenny"
    .span6
      = f.label :creator_last_name, "Creator's last name"
      = f.text_field :creator_last_name, value: "", name: 'nu_core_file[creators][last_names][]', pattern: ".*\\S.*", class: 'input-block-level', placeholder: "Smith"
- else
  - names.each_with_index do | name, i |
    .personal_creator.row-fluid
      .span6
        = f.label :creator_first_name, "Creator's first name"
        = f.text_field :creator_first_name, value: name[:first], name: 'nu_core_file[creators][first_names][]', pattern: ".*\\S.*", class: 'input-block-level', placeholder: "Jenny"
      - if i == 0
        .span6
          = f.label :creator_last_name, "Creator's last name"
          = f.text_field :creator_last_name, value: name[:last], name: 'nu_core_file[creators][last_names][]', pattern: ".*\\S.*", class: 'input-block-level', placeholder: "Smith"
      - else
        .span6.input-append
          = f.label :creator_last_name, "Creator's last name"
          = f.text_field :creator_last_name, value: name[:last], name: 'nu_core_file[creators][last_names][]', pattern: ".*\\S.*", class: 'input-block-level span10', placeholder: "Smith"
          %button.btn.btn-danger{"data-delete" => "", "data-remove" => "true", "data-target" => ".personal_creator", title: "Remove permission", type: "button"}
            = render partial: 'shared/icon' , locals: { class_string: 'icon-remove', alt_text: "Remove Field" }

