- content_for(:page_title) do
  = @community ? 'Faculty & Staff' : 'People'

.well.p-4.my-3.rounded-3
  - if @community
    %nav{ 'aria-label' => 'breadcrumb' }
      %ol.breadcrumb.align-items-center.mb-2
        %li.breadcrumb-item= link_to @community.title, community_path(params[:community_id])
        %li.breadcrumb-item.active{ 'aria-current' => 'page' } Faculty & Staff
  .d-flex.align-items-start
    .flex-grow-1
      %h3.mb-1
        %i.fa-solid.fa-users.text-primary.me-2{ 'aria-hidden' => 'true' }
        = @community ? 'Faculty & Staff' : 'People'
      .text-muted.mb-0
        - if @community
          Browse the people affiliated with #{@community.title}.
        - else
          Browse people in the repository.
    - if @response.documents.present? || params[:q].present?
      .ms-md-3
        = render 'shared/scoped_search',
          path: (@community ? community_people_path(params[:community_id]) : people_path),
          label: (@community ? 'Search faculty & staff' : 'Search people')

- if @response.documents.present?
  - content_for(:sidebar) do
    = render 'catalog/search_sidebar'

= render 'catalog/search_results'
