!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3 Tombstone Alert

    %p A user has requested that a file be deleted:
    %ul
      %li= "Title: #{@title}"
      %li= "PID: #{@pid}"

    - if @pid
      %p= "A link to the record can be found #{link_to 'here', core_file_url(@pid)}".html_safe

    %p= "The reason for deletion is: #{@reason}".html_safe
