%article.well.clearfix.inline-headings
  %h1
    = t("drs.featured_content.#{smart_collection}.name")
  %h3
    = render partial: 'shared/icon', locals: { class_string: t("drs.featured_content.#{smart_collection}.icon") }
    = render partial: 'catalog/search_form', locals: {scope: "true", scoped_placeholder: "Search this featured content" }
  %p
    = t("drs.featured_content.#{smart_collection}.description")
  - if smart_collection.to_s != "communities" && smart_collection != "faculty_and_staff"
    %nav.set-actions
      %ul.nav.nav-pills
        - if @response && @response.response['numFound'] > 0
          %li{:class=>("active" if current_page?(action: 'smart_col_recent_deposits'))}
            %a.btn.btn-default{:href=>smart_col_recent_path(smart_collection)}
              %i.icon-time
              Recent Deposits
          %li{:class=>("active" if current_page?(action: 'smart_col_creator_list'))}
            %a.btn.btn-default{:href=>smart_col_creator_list_path(smart_collection)} Creator List

- if render_constraints(params) != "" || (!params[:sort].nil? && params[:action] == 'smart_col_recent_deposits')
  %h1.page-header
    %i.icon-search
    %small
      = render_constraints(params)
      - if !params[:sort].nil? && params[:action] == 'smart_col_recent_deposits'
        = render_constraint_element("Sort", @pretty_sort_name, :classes => ["sort"], :remove => url_for(params.merge(:action=>'show',:sort=>nil,:limit=>nil)))
