- content_for(:description) do
  - t("drs.featured_content.#{smart_collection}.description")
= render partial: 'shared/smart_collections/head', locals:{smart_collection:smart_collection}
%h2.page-header Creator List

%main.row( role="main" )
  %section.span12
    -if has_facet_values?
      - if sort_value == "value"
        = render partial: '/shared/sets/alpha'
      %table.table.table-bordered
        %tr
          %th
            -if sort_value == "value"
              - @display_facet.items.sort_by!{|i| i.value}
              = "Creator"
              %span.icon-small.icon-chevron-down
            -else
              = link_to "Creator", url_for("controller" => "collections", :action=> "creator_list", :sort_val=>"value")
          %th
            -if sort_value == 'hits'
              - @display_facet.items.sort_by!{|i| i.hits}.reverse!
              = "Count"
              %span.icon-small.icon-chevron-down
            -else
              = link_to "Count", url_for("controller" => "collections", :action=> "creator_list", :sort_val=>"hits")
        - alpha = []
        - @display_facet.items.each do |item|
          %tr{:id=>(item.value[0] if !alpha.include? item.value[0])}
            - if item.hits > 0
              - if !alpha.include? item.value[0]
                - alpha << item.value[0]
              %td
                - link_options = add_facet_params(solr_fname, item.value).merge!Hash["controller" => "catalog", :action=> params['smart_col'], :smart_col=>params['smart_col']]
                = link_to h(item.value), url_for(link_options)
              %td
                = format_num item.hits
        :javascript
          var alpha = '#{alpha}';
          $(".alpha_list .btn").each(function(){
            if (alpha.indexOf($.trim($(this).text())) > 0){
            } else {
              $(this).addClass("disabled")
            }
          })
