<%= form_for @nu_collection do |f| %>

  <% if params[:pid].present? %>
    <%= f.hidden_field :pid, :value => params[:pid] %>
  <% end %>

  <p>
    <%= f.label :title, "Title:" %><br>
    <%= f.text_field :title, required: true, pattern: ".*\\S.*" %>
  </p>
 
  <p>
    <%= f.label :description, "Description:" %><br>
    <%= f.text_area :description, required: true, pattern: ".*\\S.*" %>
  </p>

  <p>
    <%= f.label :date_of_issue, "Date of Issuance" %><br>
    <%= f.text_field :date_of_issue, class: 'datepicker', required: true %> 
  </p>

  <h3> Personal Creator </h3>

  <span class='alert'>A complete individual name and/or a corporate creator are required</span>

  <%= render partial: 'data_form_creator_personal_names', locals: {:f => f, :names => @nu_collection.personal_creators }  %> 

  <button type='button' class='btn btn-mini' id='add_another_personal_creator'><i class='icon-plus-sign'></i></button>

  <h3> Corporate Creator </h3> 

  <%= render partial: 'data_form_corporate_creators', locals: {:f => f, :corporate_names => @nu_collection.corporate_creators } %>

  <button type='button' class='btn btn-mini' id="add_another_corporate_creator"><i class='icon-plus-sign'></i></button> 

  <h3> Keywords </h3>

  <%= render partial: 'data_form_keywords', locals: {:f => f, :keywords => @nu_collection.keywords } %>  

  <button type='button' class='btn btn-mini' id='add_another_keyword'><i class='icon-plus-sign'></i></button> 

  <h3> Permissions </h3>
 

  <button type='button' class="btn btn-mini" id="add_another_permission"><i class="icon-plus-sign"></i></button>

  <h3> Embargo </h3> 

  <span class='alert'> An embargoed item will be visible to only you until the day set below </span> 

  <%= f.label :embargo_release_date, "Embargo Date:" %> 
  <%= f.text_field :embargo_release_date, class: 'embargo_datepicker' %> 

  <br>
  <br>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>