<%= form_for :nu_collection, url: nu_collections_path do |f| %>

  <% if params[:pid].present? %>
    <%= f.hidden_field :pid, :value => params[:pid] %>
  <% end %>

  <p>
    <%= f.label :nu_title, "Title:" %><br>
    <%= f.text_field :nu_title, :value => @nu_collection.nu_title[0], required: true, pattern: ".*\\S.*" %>
  </p>
 
  <p>
    <%= f.label :nu_description, "Description:" %><br>
    <%= f.text_area :nu_description, :value => @nu_collection.nu_description[0], required: true, pattern: ".*\\S.*" %>
  </p>

  <p>
    <%= f.label :issuance_date, "Date of Issuance" %><br>
    <%= f.text_field :issuance_date, :value => @nu_collection.issuance_date[0], class: 'datepicker', required: true %> 
  </p>

  <h3> Personal Creator </h3>

  <span class='alert'>A complete individual name and/or a corporate creator are required</span>

  <div class='personal_creator'>
    <%= f.label :creator_first_name, "Creator's first name:" %>
    <%= f.text_field :creator_first_name, name:'nu_collection[creator_first_name][]', pattern: ".*\\S.*" %> <br>

    <%= f.label :creator_last_name, "Creator's last name:" %> 
    <%= f.text_field :creator_last_name, name: 'nu_collection[creator_last_name][]', pattern: ".*\\S.*" %> <br>
  </div>

  <button type='button' class='btn btn-mini' id='add_another_personal_creator'><i class='icon-plus-sign'></i></button>

  <h3> Corporate Creator </h3> 

  <div class='corporate_creator'> 
    <%= f.label :creator_corporate, "Enter an organizational name if an organization should be given primary credit for creation of this collection:" %> 
    <%= f.text_field :creator_corporate, name: 'nu_collection[creator_corporate][]', pattern: ".*\\S.*" %> <br>
  </div>

  <button type='button' class='btn btn-mini' id="add_another_corporate_creator"><i class='icon-plus-sign'></i></button> 

  <h3> Keywords </h3> 

  <div class='keyword'> 
    <%= f.label :keyword, "Add some relevant keywords", namespace: '0' %> 
    <%= f.text_field :keyword, namespace: '0', name: 'nu_collection[keyword][]', pattern: ".*\\S.*"%>
  </div>

  <button type='button' class='btn btn-mini' id='add_another_keyword'><i class='icon-plus-sign'></i></button> 

  <h3> Permissions </h3>

  <%= render partial: 'data_form_permissions_element', locals: {:f => f} %> 

  <button type='button' class="btn btn-mini" id="add_another_permission"><i class="icon-plus-sign"></i></button>

  <h3> Embargo </h3> 

  <span class='alert'> An embargoed item will be visible to only you until the day set below </span> 

  <%= f.label :embargo_date, "Embargo Date:" %> 
  <%= f.text_field :embargo_date, class: 'embargo_datepicker', required: true %> 

  <br>
  <br>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>