<% if @nu_collection.pid != 'neu:1' %>
  <ul class="breadcrumb">
    <li><%= link_to @nu_collection.parent_collection.nu_title_display, nu_collections_path + '/' + @nu_collection.parent_collection.pid %> <span class="divider">/</span></li>
    <li class="active"><%= @nu_collection.nu_title_display %></li>
  </ul>
<% else %>
  <h2><%= @nu_collection.nu_title_display %></h2>
<% end %>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<p class='well'>
  <% if @nu_collection.mods_abstract_display.empty? %> 
    <span> No abstract has been provided for this Collection. </span>
  <% else %> 
    <%= @nu_collection.mods_abstract_display %>
  <% end %> 
</p>