- if @nu_collection.parent
  %ul.breadcrumb 
    - breadcrumb_to_root(@nu_collection).each do |breadcrumb| 
      =breadcrumb 

%h2.page-header= @nu_collection.title 

- if flash[:notice]
  %div.notice= flash[:notice] 
- if @nu_collection.description.length > 0 
  .well
    %h4 Description
    %p
      = @nu_collection.description

= render partial: 'show_collections'

%p Actions:

= render_create_collection_button(@nu_collection)

= render partial: 'show_files', locals: { collection: @nu_collection }


%div#add_compilation_form{ style: 'display:none' } 

%p Actions:

= render_upload_files_button(@nu_collection)