%article.drs-item{ data: {  "drsitem" => content.pid  } }

  = render partial: 'shared/drs_item/drs_item_figure_no_link', locals: {item: metadata, item_class: content.klass}
  .drs-item-details
    %header
      %h4.drs-item-title
        %a{href:core_file_path(metadata.pid)}
          = "#{metadata.non_sort} #{metadata.title}"
        %small= "(#{content.derivative_label})"
    .addtional-details
      .drs-item-add-details
        - if !metadata.date.blank?
          %dl.drs-item-date-list
            %dt.drs-item-date-label
              Date Created
            %dd.drs-item-date
              %time{ "date-time" => metadata.date }
                = metadata.date.to_date.to_formatted_s(:long_ordinal)
        - if !metadata.description.blank?
          %dl.drs-item-abstract-list
            %dt.drs-item-abstract-label
              Abstract
            %dd.drs-item-abstract{id: "abstract#{metadata.pid.delete':'}"}
              - if metadata.description.length > 120
                %span.ellipsis
                  = metadata.description
                %a(href="#abstract#{metadata.pid.delete ":"}" data-toggle="ellipsis")
                  %i.icon-expand-alt
                  %span.sr-only
                    Expand / collapse toggle
              - else
                = metadata.description

      %menu.btn-toolbar(type="toolbar")
        %a{ href: "#removeFromCartModal", title: "Remove from #{t('drs.shoppingcarts.name')}", data: { toggle: "modal", delete_path: shopping_cart_path(delete: content.pid)}, :class => ["btn", "btn-danger", "btn-small", "cart-multi-modal"] }
          %i.icon-remove
          Remove
