- content_for :page_header do
  %h1.page-header
    =render partial: 'shared/icon', locals: {class_string: "icon-download-alt" }
    = t('drs.shoppingcarts.name').titlecase
    %small
      = @items.length
.row
  .span12
    %p.lead= t('drs.shoppingcarts.lead')
.row
  .span8.offset2
    = render partial: "download_list"
    = render partial: "actions"

- if @items.any?
  = render partial: 'remove_from_cart_modal', locals: { item: @items.first }
  = render partial: 'empty_cart_modal'
