%h2 Administrative Panel
%br

= link_to("Manage Communities", admin_communities_path, class: "btn btn-lg btn-primary")
%br
%br
= link_to("Manage Employees", admin_employees_path, class: "btn btn-lg btn-primary")
%br
%br
= link_to("Manage Collections", admin_collections_path, class: "btn btn-lg btn-primary")
%br
%br
= link_to("Manage Files", admin_files_path, class: "btn btn-lg btn-primary")
%br
%br
= link_to("Statistics", '/admin/statistics', class: "btn btn-lg btn-info")
