.employees
  = render 'catalog/results_pagination'

  %table.table.table-striped
    - @employees.each_with_index do |employee, i|
      %tr
        %td
          .large= "#{employee.employee_name} (#{employee.nuid})"
        %td
          = link_to("Edit", edit_admin_employee_path(employee), class: "btn btn-small btn-warning")
        %td
          %a{ href: "#deleteModal_deleteModalemployee_#{i}", title: "Delete \"#{employee.employee_name}\"?", data: {toggle: 'modal'}, class:"btn btn-danger btn-small" } Delete
          = render partial: 'admin/delete_modal', locals: { title: "Delete \"#{employee.employee_name}\"?", button_title: "Delete", delete_path: "#{admin_employee_path(employee)}", item: employee, index: "employee_#{i}" }

  = render 'catalog/results_pagination'
