%tr
  %td
    .large= "#{employee.employee_name} (#{employee.nuid})"
  %td
    = link_to("Edit", edit_admin_employee_path(id: employee.id), class: "btn btn-small btn-warning")
  %td
    = link_to("Delete", admin_employee_path(id: employee.id), method: 'delete', confirm: "This action is irreversible", class: "btn btn-small btn-danger")
