%ul.breadcrumb
  %li
    = link_to 'Admin Panel', '/admin'
  %li.active
    = link_to 'Manage Employees', '/admin/employees'

%h2.page-header All Employees

= form_tag admin_employees_filter_list_path, :method => 'get', :class => 'form-inline', :remote => true do
  = text_field_tag :search, params[:search]
  //note that this is case sensitive right now
  = submit_tag "Search", :name => nil, :class => "btn btn-info"

= render partial: "employee_admin", locals: { employees: @employees }

:javascript
  $("#search").keyup(function() {
    var search = $("#search").val();
    $.getScript('/admin/employees/filter_list?search=' + search);
  });
