- content_for(:container_header) do
  = breadcrumbs

.container
  .clearfix.pt-1
  .row
    .col-6
      = render partial: "thumbnail"
    .col-6
      = @mods.html_safe

.clearfix.mb-4

-# - @work.children.each do |c|
-#   = "#{c.type} - #{c.children.count}"
-#   %ul
-#     - c.children.each do |b|
-#       %li
-#         = b.file_identifiers.inspect
-#   %br

-# %br

-# %pre
-#   = JSON.pretty_generate(JSON.parse(@work.mods.to_json))
