- content_for(:page_title) do
  = @work.title
- content_for(:container_header) do
  = render 'shared/breadcrumbs'

.container
  .clearfix.pt-1
  .row
    .col-12
      .d-flex.flex-column.flex-md-row.justify-content-md-between.align-items-md-end
        %h3= @work.title
        - if user_signed_in?
          .text-end.small.pb-2.flex-shrink-0.text-nowrap
            - if current_user&.curates_sets?
              = render 'sets/add_to_set', kind: 'work', noid: @work.id, trigger_class: 'px-2'
            - unless @work.in_progress
              = link_to "Edit", edit_work_path(@work.id), class: "px-2"
            - if @can_tombstone
              = render 'shared/tombstone_modal',
                       id:            @work.id,
                       kind:          'work',
                       path:          tombstone_work_path(@work.id),
                       trigger_class: 'px-2'
      %hr.work-show-divider
      .d-flex.justify-content-between.align-items-center.mb-3.small
        %span
          %i.fa-solid.fa-link.text-muted{'aria-hidden' => 'true'}
          %span.text-muted.ms-1 Permanent URL:
          = link_to @work.permanent_url, @work.permanent_url, class: 'ms-1'
        - if @files.present?
          = link_to '#downloads' do
            %span.text-muted= "Downloads (#{@files.size})"
            %i.fa-solid.fa-arrow-down.ms-1{'aria-hidden' => 'true'}
  .row
    .col-md-6.order-md-1.order-2
      = render partial: "thumbnail"
    .col-md-6.order-md-2.order-1
      = @mods.html_safe

.clearfix.mb-4

.container
  .row
    .col-md-12
      = render partial: 'downloads', locals: { files: @files }
