- content_for(:container_header) do
  = render 'shared/breadcrumbs'

.container
  .clearfix.pt-1
  .row
    .col-12
      %h1.work-show-title= @work.title
      %hr.work-show-divider
      .d-flex.justify-content-between.align-items-center.mb-4.small
        %span
          %i.fa-solid.fa-link.text-muted{'aria-hidden' => 'true'}
          %span.text-muted.ms-1 Permanent URL:
          = link_to '#', '#', class: 'ms-1'
        - if @files.present?
          = link_to '#downloads' do
            %span.text-muted= "Downloads (#{@files.size})"
            %i.fa-solid.fa-arrow-down.ms-1{'aria-hidden' => 'true'}
  .row
    .col-md-6.order-md-1.order-2
      = render partial: "thumbnail"
    .col-md-6.order-md-2.order-1
      = @mods.html_safe

.clearfix.mb-4

.container
  .row
    .col-md-12
      = render partial: 'downloads', locals: { files: @files }
