.container
  .row
    .col
      #editor
        = @raw_xml
    .col
      %dl
      = @work.title
      = @work.names
      = @work.languages
      = @work.date_created
      = @work.resource_type
      = @work.genres
      = @work.digital_origin
      = @work.abstract
      = @work.related_series
      = @work.subjects
      = @work.permanent_url
      = @work.access_condition

%script{:charset => "utf-8", :src => "/ace/ace.js", :type => "text/javascript"}

:javascript
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/eclipse");
  editor.session.setMode("ace/mode/xml");
