%script{:charset => "utf-8", :src => "/ace/ace.js", :type => "text/javascript"}

%h3.py-3
  Edit raw XML for
  = @resource['title']

%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link{"aria-current" => "page", href: "#"} Metadata
  %li.nav-item
    %a.nav-link.active{href: "#"} XML

%br

= form_tag xml_validate_path, :method => :put, :id => "raw_xml_form" do
  = hidden_field_tag "resource_id", @resource['id']
  = hidden_field_tag "raw_xml"
  .container
    .row
      .col
        #editor<
          = @raw_xml
      .col#content
        = @mods.html_safe
    .row
      .well.p-3.my-3.rounded-3
        %input#validate_button.btn.btn-primary{:name => "commit", :type => "submit", :value => "Validate + Preview", remote: true}/
        %input#save_button.btn.btn-success{"data-disable-with" => "Please wait...", :name => "commit", :type => "submit", :value => "Save", :formaction => xml_update_path}/
        %a.btn.btn-warning{"data-toggle" => "modal", :href => "#cancelEditModal"}
          Cancel

:javascript
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/eclipse");
  editor.session.setMode("ace/mode/xml");

  document.querySelector('#editor').addEventListener('change', (event) => {
    //$("#raw_xml").val(editor.getSession().getValue().trim());
    document.getElementById("raw_xml").value = editor.getSession().getValue().trim();
  });

  document.getElementById('validate_button').onclick = function(){
    $("#content").css({visibility:"visible", opacity: 100}).animate({opacity: 0}, 500);
  };
