= form_tag xml_validate_path, :method => :put, :id => "raw_xml_form", :remote => true do
  = hidden_field_tag "work_id", @work.noid
  = hidden_field_tag "raw_xml"
  .container
    .row
      .col
        #editor
          = @raw_xml
      .col
        = render partial: "shared/mods", locals: {resource: @work}
    .row
      .bg-well.p-3.my-3.rounded-3
        %input#validate_button.btn.btn-primary{:name => "commit", :type => "submit", :value => "Validate + Preview", remote: true}/
        %input#save_button.btn.btn-success{"data-disable-with" => "Please wait...", :name => "commit", :type => "submit", :value => "Save"}/
        %a.btn.btn-warning{"data-toggle" => "modal", :href => "#cancelEditModal"}
          Cancel

%script{:charset => "utf-8", :src => "/ace/ace.js", :type => "text/javascript"}

:javascript
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/eclipse");
  editor.session.setMode("ace/mode/xml");

  document.querySelector('#editor').addEventListener('change', (event) => {
    $("#raw_xml").val(editor.getSession().getValue());
  });
