%li
  %h3
    = link_to document.title_or_label, nu_core_file_path(document.noid)
    %small
      [#{link_to 'Download', sufia.download_path(document.noid), :target => '_new'}]
  %table.table
    %tr
      %td.span2{rowspan: "6"}
        = render :partial => 'dashboard/_index_partials/thumbnail_display', :locals => {:document=>document, :height=>200, :width=>150}
      %th
        %h4 Title:
      %td= document.title
    %tr
      %th
        %h4
          Depositor:
          %h4
            %td= link_to_profile document.depositor("no depositor value")
    %tr
      %th
        %h4 Creator:
      %td= document.creator
    %tr
      %th
        %h4 Description:
      %td= iconify_auto_link(document.description)
    %tr
      %th
        %h4 Keywords:
      %td= document.tags.join(', ')
    %tr
      %th
        %h4 Date Uploaded:
      %td= document.date_uploaded
%li
  =debug document#.object_profile_ssm