- content_for :local_js do
  \// initialize popover helpers
  $("a[rel=popover]").popover({ html: true });
%h1 Edit Profile
.span4.well
  = form_for @user, :url => sufia.profile_path(@user), :html => { :method => :put, :multipart => true, :class => 'form-horizontal' } do |f|
    .control-group
      = f.label :avatar, '<i class="icon-camera-retro"></i> Change picture'.html_safe, :class => "control-label"
      .controls
        - if @user.avatar?
          = image_tag @user.avatar.url(:thumb)
        = f.file_field :avatar
        %span.label.label-important JPG, GIF, or PNG (less than 2MB)
    .control-group
      = f.label :delete_avatar, '<i class="icon-remove"></i> Delete picture'.html_safe, :class => 'control-label'
      .controls
        %label.checkbox
          = check_box_tag 'delete_avatar'
          Yes
          %a#delete_picture_help{"data-content" => "If you would like to remove your picture entirely, check the box and save your profile.", "data-original-title" => "Delete Picture", href: "#", rel: "popover"}
            %i.icon-question-sign.icon-large
    .control-group
      = f.label :update_directory, '<i class="icon-refresh"></i> Refresh directory info'.html_safe, :class => 'control-label'
      .controls
        %label.checkbox
          = check_box_tag 'update_directory'
          Yes
          %a#refresh_directory_help{"data-content" => "The information displayed in your profile comes from #{t('sufia.institution_name')}'s central directory (LDAP) and is cached by #{t('sufia.product_name')}.  If you have updated that information and don't see those changes in your #{t('sufia.product_name')} profile, check the box and save your profile.", "data-original-title" => "Refresh Directory Info", href: "#", rel: "popover"}
            %i.icon-question-sign.icon-large
    %fieldset.control-group
      %legend
        View layout preference
      %label.radio
        Grid
        = radio_button "user", "view_pref" , "grid" 
      %label.radio
        List
        = radio_button "user", "view_pref", "list"
    .control-group
      = f.label :twitter_handle, '<i class="icon-twitter"></i> Twitter Handle'.html_safe, :class => 'control-label'
      .controls
        = f.text_field :twitter_handle, :class =>"input-medium"
    .control-group
      = f.label :facebook_handle, '<i class="icon-facebook"></i> Facebook Handle'.html_safe, :class => 'control-label'
      .controls
        = f.text_field :facebook_handle, :class =>"input-medium"
    .control-group
      = f.label :googleplus_handle, '<i class="icon-google-plus"></i> Google+ Handle'.html_safe, :class => 'control-label'
      .controls
        = f.text_field :googleplus_handle, :class =>"input-medium"
    .form-actions
      = f.button '<i class="icon-save"></i> Save Profile'.html_safe, :type => 'submit', :class => "btn-primary btn-large"
/ /span4 /well
.span6.well
  %h3
    %i.icon-user
    Directory Info (LDAP) #{link_to 'Edit Instructions', 'http://www.psu.edu/directory/#update', :class => 'btn btn-mini btn-primary'}
  = render :partial => 'user_info', :locals => {:user => @user}
  %hr/
  %h3
    %i.icon-group
    User Managed Groups Info (UMG) #{link_to 'Manage UMG', 'http://umg.its.psu.edu/', :class => 'btn btn-mini btn-primary'}
  - groups.each do |g|
    %i.icon-caret-right
    = g
    %br/
