%h1.page-header
  =render partial: 'shared/icon', locals: {class_string: "icon-group"}
  = t('drs.multiple_accounts.page_title')
%p.lead
  = t('drs.multiple_accounts.select_account')

- current_user.associated_accounts.each do |email|
  %p
    = link_to("#{email}", switch_user_path(email: email))

%br

%p.lead
  = t('drs.multiple_accounts.set_preferred')
  %p
    = link_to "#{t('drs.multiple_accounts.save_preferred')}", set_preferred_user_path(email: current_user.email), class: "btn btn-success"
