-if cached_content_objects(@core_file)
  - cached_content_objects(@core_file).each do |content|
    - if (!current_user.nil? && (current_user.can? :read, content)) || content.public?
      - pid = content.pid
      - short_pid = pid[4..-1]
      - dir = content.pid_hash[0,2]
      - encoded = content.encode
      - if @thumbs.length > 0
        - poster = @thumbs[0]
      - if content.mime_type == 'video/mp4'
        - type = 'MP4'
        - provider = 'video'
      - elsif content.mime_type == 'audio/mpeg'
        - type = 'MP3'
        - provider = 'sound'
      #player
        :javascript
          jwplayer.key="gi5wgpwDtAXG4xdj1uuW/NyMsECyiATOBxEO7A=="
        :javascript
          jwplayer("player").setup({
          sources:
          [
          { file: "rtmp://libwowza.neu.edu:1935/vod/_definst_/#{type}:datastreamStore/fedoraData/datastreamStore/#{dir}/info%3Afedora%2F#{encoded}%2F#{type}%2F#{type}.0", type:"#{type}"},
          { file: "http://libwowza.neu.edu:1935/vod/_definst_/datastreamStore/fedoraData/datastreamStore/#{dir}/#{type}:" + encodeURIComponent("info%3Afedora%2F#{encoded}%2F#{type}%2F#{type}.0") + "/playlist.m3u8", type:"#{type}"}
          ],
          image: "#{poster}",
          provider: "#{provider}",
          fallback: "false",
          androidhls: "true",
          primary: "flash"
          })
