%script{charset: "utf-8", src: "/jwplayer/jwplayer.js", type: "text/javascript"}

.alert.alert-warning.alert-video.hidden
- if @thumbs.length > 0
  - poster = @thumbs[3]
  .replace_thumbs.hidden
    = render 'shared/thumbnails/full_picture'
- type = dir = encoded = provider = pid = ''
- caption_url = nil
- @content_objects.each do |content|
  -if content.klass == "VideoFile" || content.klass == "AudioFile"
    - if (!current_user.nil? && (current_user.can? :read, content)) || content.public?
      - pid = content.pid
      - dir = content.pid_hash[0,2]
      - encoded = content.encode
      - if content.mime_type.start_with?('video')
        - type = 'MP4'
        - provider = 'video'
      - elsif content.mime_type.start_with?('audio')
        - type = 'MP3'
        - provider = 'sound'
  -elsif content.klass == "TextFile"
    - caption_url = download_url(content.pid, {datastream_id: 'content'})
#player
  :javascript
    jwplayer.key="8DXGvJavA+g/E1cIJAuq5Bd9llzu7FvT/XEslQ6MvuY="
  :javascript
    jwplayer("player").setup({
      width: "100%",
      height: 400,
      playlist:  [{
        image:  "#{poster}",
        sources:
        [
          { file: "#{wowza_plain_path(pid, {only_path: false})}", type:"#{provider}/#{type.downcase}"}
        ]
      }],
      tracks: [{
        file: "#{caption_url}",
        label: 'English',
        kind: 'captions',
        "default": true
      }]
    });
    function errorMessage() {
      $(".alert-video").removeClass("hidden").text("There was an error playing this file. Please try on a different device, or download the file.")
      $(".replace_thumbs").removeClass("hidden")
      $("#player, #player_wrapper").hide()
    }
    jwplayer("player").on('error', function(){
      errorMessage();
     });
    jwplayer("player").on('setupError', function(){
      errorMessage();
    });
    jwplayer("player").on('buffer', function() {
      theTimeout = setTimeout(function() {
        $(".alert-video").removeClass("hidden").text("This video is taking longer than expected to play. You may need to download the file to view it.");
      }, 5000)
    })
    jwplayer("player").on('play', function() {
      clearTimeout(theTimeout);
      $.ajax("/files/#{pid}/log_stream");
    })
    jwplayer("player").on('complete', function() {
      window.location = window.location.href
    });
