.alert.alert-warning.alert-video.hidden
  = "There was an error playing this file. Please try on a different device, verify Flash is enabled, or download the file."
- if @thumbs.length > 0
  - poster = @thumbs[3]
  .replace_thumbs.hidden
    = render 'shared/thumbnails/full_picture'
- type = dir = encoded = provider = pid = ''
- @content_objects.each do |content|
  -if content.klass == "VideoFile" || content.klass == "AudioFile"
    - if (!current_user.nil? && (current_user.can? :read, content)) || content.public?
      - pid = content.pid
      - dir = content.pid_hash[0,2]
      - encoded = content.encode
      - if content.mime_type == 'video/mp4' || content.mime_type == 'video/quicktime'
        - type = 'MP4'
        - provider = 'video'
      - elsif content.mime_type == 'audio/mpeg'
        - type = 'MP3'
        - provider = 'sound'
#player
  :javascript
    jwplayer.key="gi5wgpwDtAXG4xdj1uuW/NyMsECyiATOBxEO7A=="
  :javascript
    var provider = "#{provider}"
    var primary = "flash"
    if (typeof swfobject == 'undefined' || swfobject.getFlashPlayerVersion().major == 0) {
      primary == "html5"
    }
    jwplayer("player").setup({
    sources:
    [
    { file: "rtmp://libwowza.neu.edu:1935/vod/_definst_/#{type}:datastreamStore/cerberusData/newfedoradata/datastreamStore/#{dir}/info%3Afedora%2F#{encoded}%2Fcontent%2Fcontent.0"},
    { file: "http://libwowza.neu.edu:1935/vod/_definst_/datastreamStore/cerberusData/newfedoradata/datastreamStore/#{dir}/#{type}:" + encodeURIComponent("info%3Afedora%2F#{encoded}%2Fcontent%2Fcontent.0") + "/playlist.m3u8", type:"#{type}"},
    { file: "http://libwowza.neu.edu/datastreamStore/cerberusData/newfedoradata/datastreamStore/#{dir}/" + encodeURIComponent("info%3Afedora%2F#{encoded}%2Fcontent%2Fcontent.0"), type:"#{type}"},
    ],
    image: "#{poster}",
    provider: "#{provider}",
    fallback: "true",
    androidhls: "true",
    primary: primary,
    width: "100%",
    height: 400,
    flashplayer: "/assets/jwplayer/jwplayer.flash.swf",
    html5player: "/assets/jwplayer/jwplayer.html5.js"
    })
    var errorMessage = function() {
      $(".alert-video").removeClass("hidden")
      $(".replace_thumbs").removeClass("hidden")
      $("#player, #player_wrapper").hide()
    }
    jwplayer().onError(errorMessage);
    jwplayer().onSetupError(errorMessage);
    jwplayer().onBuffer(function() {
      theTimeout = setTimeout(function() {
        $(".alert-video").removeClass("hidden")
        $(".replace_thumbs").removeClass("hidden")
        $("#player, #player_wrapper").hide()
      }, 5000)
    })
    var renderingMode
    jwplayer().onReady(function() {
      renderingMode = jwplayer().getRenderingMode()
    })
    jwplayer().onPlay(function(){
      clearTimeout(theTimeout);
      if (provider == 'sound' && renderingMode == 'flash') {
        jwplayer().resize('100%', 50);
        $(".replace_thumbs").removeClass("hidden")
      }
      $.ajax("/files/#{pid}/log_stream");
    })
    $(".replace_thumbs").click(function() {
      jwplayer().play()
    })
    jwplayer().onComplete(function() {
      window.location = window.location.href
    })
