- grid_view ||= false
- alignment ||= ""
- item ||= false

- if grid_view == true
  %ul.dropdown-menu
    - contents.each do |content|
      - if (!current_user.nil? && (current_user.can? :read, content)) || content.public?
        -if content.klass != "ImageThumbnailFile" && content.klass != "PageFile"
          .btn-group
            = render partial: 'core_files/derivative_button', locals: {content: content }
            = render partial: 'shopping_carts/add_or_remove_btn', locals: { :id => content.pid }
    - if item
      - if item.klass == "CoreFile"
        - if current_user
          .btn-group
            =link_to("Save for later", compilations_path(file: item.pid), remote: true, title:  "Add to " + t('drs.compilations.name'), data: {toggle: "tooltip"}, class: "btn btn-mini btn-clear")
- else
  %div{ class: alignment }
    - contents.each do |content|
      - if (!current_user.nil? && (current_user.can? :read, content)) || content.public?
        -if content.klass != "ImageThumbnailFile" && content.klass != "PageFile"
          .btn-group
            = render partial: 'core_files/derivative_button', locals: {content: content }
            = render partial: 'shopping_carts/add_or_remove_btn', locals: { :id => content.pid }
    - if item
      - if item.klass == "CoreFile"
        - if current_user
          .btn-group
            =link_to("Save for later", compilations_path(file: item.pid), remote: true, title:  "Add to " + t('drs.compilations.name'), data: {toggle: "tooltip"}, class: "btn btn-mini btn-clear")
    .btn-group
      - icon = render partial: 'shared/icon',  locals: { class_string: "icon-comments-alt" }
      =link_to icon.html_safe , "http://library.northeastern.edu/get-help/tech-support/report-a-problem?resource=#{item.title} - #{item.pid} (#{CGI::escape(request.original_url)})", :target => "_blank", title:  "Report a problem", data: {toggle: "tooltip"}, class: 'btn btn-mini btn-clear'
