%header
  %h1.page-header
    Edit raw XML for
    =@core_file.title

= form_tag core_file_validate_xml_path, :method => :put, :id => "raw_xml_form", :remote => true do
  = hidden_field_tag( "raw_xml[]", "")

  .alert.alert-warning This is just a preview. Click "Save" to apply your changes.

  .span6
    %h3 XML
    %label.text-right
      %input#toggle_word_wrap{"type"=>"checkbox"}
      ="Toggle Word Wrap"
    #editor.well
      = @core_file.mods.to_xml

  .drs-item-details.span5
    %h3 MODS HTML
    #mods{ style: 'position:relative;min-height:320px;' }
      = @mods_html

  .span12
    .well
      = submit_tag "Validate + Preview", :class => ['btn', 'btn-primary'], :id => "validate_button"
      = submit_tag "Save", :class => ['btn', 'btn-success'], :id => "save_button", data: { disable_with: "Please wait..."}
      %a{ href: "#cancelEditModal", :class => ['btn', 'btn-warning'], data: {toggle: "modal"} }
        Cancel

= render partial: "shared/cancel_edit_modal", locals: { item: @core_file }

:javascript
  // This is a hack, need to trim to due haml pretty printing
  str = $("#editor").text();
  $("#editor").text(str.trim());

  // Setting up the editor
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/eclipse");
  editor.getSession().setMode("ace/mode/xml");
  editor.setOptions({
    maxLines: Infinity,
    minLines: 20,
    useSoftTabs: true,
    showInvisibles: true,
  });

  $(function() {
    $('#toggle_word_wrap').on('change', function(){
      if ($('#toggle_word_wrap').is(':checked')){
        editor.getSession().setUseWrapMode(true);
      } else {
        editor.getSession().setUseWrapMode(false);
      }
    })
    $('#raw_xml_form').submit(function() {
      $("#raw_xml_").val(editor.getSession().getValue());
      $('#mods').html("");
      spinner = enable_spinner('mods');
      return true;
    });
  });
