%h1
  = "Edit "
  %i
    = "#{@core_file.non_sort} "
    = kramdown_parse(@core_file.title)
= render partial: 'edit_actions_nav'
%br
.tab-content
  #edit.tab-pane.active
    = form_for(@core_file, :url => core_file_path, :html => {:multipart => true }) do |f|

      = render :partial => 'core_files/metadata/default', :formats => [:html], :locals => {:f => f, :new_object => false}

      / We need to account for the different file types here to extend the metdata screen

      .form-actions
        = f.submit class: ['btn', 'btn-primary'], :onclick => "confirmation_needed = false;", value: 'Submit', data: { disable_with: "Please wait..."}
        %a{ href: "#cancelEditModal", :class => ['btn', 'btn-warning'], data: {toggle: "modal"} }
          Cancel

  #move.tab-pane
    = render partial: "move"
  #delete.tab-pane
    = render partial: "delete"

= render partial: "shared/cancel_edit_modal", locals: { item: @core_file }
