%ul.breadcrumb
  - breadcrumb_to_root(@core_file, [""]).each do |breadcrumb|
    =breadcrumb
  %li
    = link_to "#{@core_file.title}", core_file_path(id: @core_file.pid)
  %li.active
    = "Manage #{@core_file.title}"
%h1
  = "Manage "
  %i
    = "#{@core_file.non_sort} "
    = kramdown_parse(@core_file.title)
%br
= render partial: 'edit_actions_nav'
%br
.tab-content
  #edit.tab-pane.active
    = form_for(@core_file, :url => core_file_path, :html => {:multipart => true }) do |f|

      = render :partial => 'core_files/metadata/default', :formats => [:html], :locals => {:f => f, :new_object => false}

      / We need to account for the different file types here to extend the metdata screen

      .form-actions
        = f.submit class: ['btn', 'btn-primary'], :onclick => "confirmation_needed = false;", value: 'Submit', data: { disable_with: "Please wait..."}
        %a{ href: "#cancelEditModal", :class => ['btn', 'btn-warning'], data: {toggle: "modal"} }
          Cancel

  #move.tab-pane
    = render partial: "move"
  #associate.tab-pane
    = render partial: "associate"
  #delete.tab-pane
    = render partial: "delete"

= render partial: "shared/cancel_edit_modal", locals: { item: @core_file }

:javascript
  $('a[href="#associate"]').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    spinner = enable_spinner('associated_files');
    var pid = "#{@core_file.pid}";
    get_page("/files/"+pid+"/associated_children?per_page=5");
    spinner.stop();
  });
  function get_page(path){
    $.getScript( path, function() {
      picturefill({
        reevaluate: true,
      });
      enable_pagination();
    });
  }
  function enable_pagination(){
    $("#associated_files .pagination a").on("click", function(e){
      e.preventDefault();
      get_page($(this).attr("href"));
    });
  }
