- content_for :page_header do
  %style{:type=>"text/css"}
    = raw @diff_css

%ul.breadcrumb
  %li
    = link_to 'MODS History List', core_file_mods_history_list_path(id: @core_file.pid)
  %li.active
    = @core_file.mods.versions[params[:page].to_i - 1].createDate.localtime.to_s

%header
  %h1.page-header
    MODS History for
    %i
      = "#{@core_file.non_sort} "
      = kramdown_parse(@core_file.title)

= will_paginate @mods_pages, :previous_label => '< Newer', :next_label => 'Older >'

.span6
  %h3
    XML as of
    = @core_file.mods.versions[params[:page].to_i - 1].createDate.localtime.to_s
  %label.text-right
    %input#toggle_word_wrap{"type"=>"checkbox"}
    ="Toggle Word Wrap"
  #editor.well
    = @core_file.mods.versions[params[:page].to_i - 1].content

.span5
  %h3 MODS Changes from previous version
  #mods_diff
    = @diff

.span11
  .well
    -# = submit_tag "Insert XML", :class => ['btn', 'btn-primary'], :id => "restore_button", data: { disable_with: "Please wait..."}
    %a.btn.btn-primary{data: { disable_with: "Please wait..."}, :href => edit_core_file_xml_path(id: @core_file.pid, version: params[:page].to_i - 1)}
      Insert XML

:javascript
  // This is a hack, need to trim to due haml pretty printing
  str = $("#editor").text();
  $("#editor").text(str.trim());

  // Setting up the editor
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/eclipse");
  editor.getSession().setMode("ace/mode/xml");
  editor.setOptions({
    maxLines: Infinity,
    minLines: 20,
    useSoftTabs: true,
    showInvisibles: false,
    showGutter: false,
    readOnly: true,
  });

  $(function() {
    $('#toggle_word_wrap').on('change', function(){
      if ($('#toggle_word_wrap').is(':checked')){
        editor.getSession().setUseWrapMode(true);
      } else {
        editor.getSession().setUseWrapMode(false);
      }
    })
    $('#raw_xml_form').submit(function() {
      $("#raw_xml_").val(editor.getSession().getValue());
      $('#mods').html("");
      spinner = enable_spinner('mods');
      return true;
    });
  });
