- layout_class =  'span6'

%ul.breadcrumb
  - breadcrumb_to_root(@core_file).each do |breadcrumb|
    =breadcrumb

- if !@core_file.tombstoned? && @core_file.embargo_date_in_effect?
  %span.embargo-alert= "This item is under embargo and its content will be available for download and viewing on #{@core_file.embargo_release_date(formatted: true)}"

%article{class: ['drs-item', 'drs-item-full'],  data: { drsitem: @core_file.pid } }
  %header
    / %h1.page-header= @core_file
    %h1.page-header
      = "#{@core_file.non_sort} "
      = kramdown_parse(@core_file.title)

  %section.row
    %div{class: layout_class}
      - if @core_file.tombstoned?
        -if @thumbs.length > 0
          = render partial: 'shared/thumbnails/full_picture'
        -else
          %i.icon-file.icon-4x.icon-border.drs-icon-figure
      - else
        - @content_objects = cached_content_objects(@core_file)
        = render :partial => 'core_files/media_display', locals: {contents: @content_objects}
    %div{itemscope: "", itemtype: "http://schema.org/CreativeWork", class:  [ layout_class, 'drs-item-details'] }
      = render partial: 'actions_nav'
      .tab-content
        #metadata.tab-pane.active
          :javascript
            $('.nav-tabs a').click(function (e) {
              e.preventDefault();
              if ($(this).data("event") == "external") {
                window.open($(this).attr('href'), "_self")
              } else {
                $(this).tab('show');
              }
            });
            var url = document.location.toString();
            if (url.match('#')) {
                $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
            }

          .drs-item-add-details
            = @mods
          - if !@core_file.tombstoned? && @content_objects
            %section.drs-item-derivatives
              = render partial: 'show_derivatives', locals: {contents: @content_objects}
        #supplemental-files.tab-pane
          = render partial: "supplemental_files"
        #delete.tab-pane
          = render partial: "delete"
