- content_for(:description) do
  - @core_file.description
- content_for(:keywords) do
  - @core_file.keyword_list
- content_for(:author) do
  - if !@core_file.author.blank?
    ="<meta content=\"#{@core_file.author}\" name=\"author\">".html_safe
- if ["Theses and Dissertations", "Technical Reports", "Research Publications"].include? @core_file.category
  - content_for(:google_scholar) do
    ="<meta content=\"#{@core_file.google_title}\" name=\"citation_title\">".html_safe
    - if !@core_file.google_scholar_date.blank?
      ="<meta content=\"#{@core_file.google_scholar_date}\" name=\"citation_publication_date\">".html_safe
    - if !@core_file.canonical_object.first.blank?
      ="<meta content=\"#{file_fulltext_path(@core_file.pid, :only_path => false)}\" name=\"citation_pdf_url\">".html_safe
    - if !@core_file.author.blank?
      ="<meta content=\"#{@core_file.author}\" name=\"citation_author\">".html_safe
    - elsif !@core_file.personal_creators.blank?
      - @core_file.personal_creators.each do |pc|
        ="<meta content=\"#{pc}\" name=\"citation_author\">".html_safe
- layout_class =  'span6'
%ul.breadcrumb
  - breadcrumb_to_root(@core_file).each do |breadcrumb|
    =breadcrumb
  = render partial: 'breadcrumb_action_menu'
  = render partial: 'breadcrumb_action_menu_links'

- if @core_file.embargo_date_in_effect?
  %span.embargo-alert= "This item is under embargo and its content will be available for download and viewing on #{@core_file.embargo_release_date(formatted: true)}"

%article{class: ['drs-item', 'drs-item-full'],  data: { drsitem: @core_file.pid } }
  %header
    / %h1.page-header= @core_file
    %h1.page-header
      = "#{@core_file.non_sort} "
      = kramdown_parse(@core_file.title)

  -if !@core_file.identifier.blank?
    %div.handle
      %i.icon.icon-link
      ="Permanent URL: "
      -# =link_to(@core_file.identifier)
      %a{:href => "#{@core_file.identifier}"} #{@core_file.identifier}

  %section.row
    %div{class: layout_class}
      - @content_objects = cached_content_objects(@core_file)
      = render :partial => 'core_files/media_display', locals: {contents: @content_objects}
    %div{itemscope: "", itemtype: "http://schema.org/CreativeWork", class:  [ layout_class, 'drs-item-details'] }
      = render partial: 'actions_nav'
      .tab-content
        #metadata.tab-pane.active
          :javascript
            $('.nav-tabs a').click(function (e) {
              e.preventDefault();
              if ($(this).data("event") == "external") {
                window.open($(this).attr('href'), "_self")
              } else {
                $(this).tab('show');
              }
            });
            var url = document.location.toString();
            if (url.match('#')) {
                $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
            }

          .drs-item-add-details
            = @mods
          .drs-item-add-details
            = @darwin
          - if @content_objects
            %section.drs-item-derivatives
              = render partial: 'show_derivatives', locals: {contents: @content_objects}
        #supplemental-files.tab-pane
          - if !@core_file.supplemental_materials.blank? || !@core_file.supplemental_material_for.blank? || !@core_file.instructional_materials.blank? ||  !@core_file.instructional_material_for.blank? || @core_file.page_objects.length > 1
            %div#associated_files
        - if current_user_can? :edit, @core_file
          #statistics.tab-pane
            = render partial: 'statistics', locals: {contents: @content_objects}

#backModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "backModalLabel", role: "dialog", tabindex: "-1" }
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} x
    %h3#backModalLabel
      Your file is being processed
  .modal-body
    - if !@parent.blank?
      %p= "Return to #{link_to(kramdown_parse(@parent.title).html_safe, polymorphic_path(@parent))}".html_safe
    - else
      %p= "Return to the #{link_to("Home Page", root_path)}"
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal" } Close

:javascript
  // It works without the History API, but will clutter up the history
  var history_api = typeof history.pushState !== 'undefined'

  // The previous page asks that it not be returned to
  if ( location.hash == '#no-back' ) {
    // Push "#no-back" onto the history, making it the most recent "page"
    if ( history_api ) history.pushState(null, '', '#stay')
    else location.hash = '#stay'

    // When the back button is pressed, it will harmlessly change the url
    // hash from "#stay" to "#no-back", which triggers this function
    window.onhashchange = function() {
      // User tried to go back; warn user, rinse and repeat
      var lh = location.hash
      if ( lh == '#no-back' ) {
        $("#backModal").modal("show");
        if ( history_api ) history.pushState(null, '', '#stay')
        else location.hash = '#stay'
      }
    }
  }
  $('a[href="#supplemental-files"]').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    spinner = enable_spinner('associated_files');
    var pid = $(this).data("pid");
    get_page("/files/"+pid+"/associated?per_page=5");
  });
  function get_page(path){
    $.getScript( path, function() {
      picturefill({
        reevaluate: true,
      });
      enable_pagination();
    });
  }
  function enable_pagination(){
    $("#associated_files .pagination a").on("click", function(e){
      e.preventDefault();
      get_page($(this).attr("href"));
    });
  }
