!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3="#{@type} Move Alert"

    %p= "A user has requested that a #{@type} be moved:"
    %ul
      %li= "Title: #{@title}"
      %li= "PID: #{@pid}"
      %li= "New Collection URL: #{@collection_url}"
      %li= "User: #{@user.name}"
      %li= "User Email: #{@user.email}"

    - if @pid
      %p= "A link to the #{@type} can be found #{link_to 'here', @object_url}".html_safe

    %p= "#{link_to @title, @object_url} should be moved to #{link_to @collection_url, @collection_url}".html_safe
    %p= "The reason for moving is: #{@reason}".html_safe
