%dl
  = resource.title
  = resource.names
  = resource.languages
  = resource.date_created
  = resource.resource_type
  = resource.genres
  = resource.digital_origin
  = resource.abstract
  = resource.related_series
  = resource.subjects
  = resource.permanent_url
  = resource.access_condition
