<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>

  <% if has_user_authentication_provider? %>
    <% if current_user %>
      <% if current_user.admin? %>
        <li class="nav-item">
          <%= link_to admin_root_path, class: 'nav-link' do %>
            <i class="fa-solid fa-screwdriver-wrench me-1" aria-hidden="true"></i>Admin
          <% end %>
        </li>
      <% end %>
      <% if current_user.messageable? %>
        <li class="nav-item">
          <%= link_to messages_path, class: 'nav-link inbox-nav-link', 'aria-label': inbox_aria_label do %>
            <i class="fa-solid fa-envelope" aria-hidden="true"></i>
            <% if unread_messages_count.positive? %>
              <span class="inbox-nav-link__badge"><%= unread_messages_count %></span>
            <% end %>
          <% end %>
        </li>
      <% end %>
      <% unless current_user.to_s.blank? -%>
        <li class="nav-item">
          <%# <%= link_to current_user, root_path, class: 'nav-link' %>
          <%= link_to current_user, atlas_user_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link' %>
        </li>
      <% end %>
      <% else %>
        <li class="nav-item">
          <%# switch to dedicated atlas login page? %>
          <%= link_to "Login", atlas_login_path, class: 'nav-link' %>
          <%# <%= link_to t('blacklight.header_links.login'), new_user_session_path, class: 'nav-link' %>
        </li>
    <% end %>
  <% end %>
</ul>