%h3= "Research publications for #{@dept.title}"

%p= "There are #{@dept.research_publications.length} publications for this community" 

= render partial: "core_record_query", locals: { records: @dept.research_publications } 