<h1>Ingest Management</h1>

<h2>Upload ZIP File</h2>

<%= form_tag loads_path, multipart: true do %>
  <div>
    <%= file_field_tag :file, accept: 'application/zip,application/x-zip-compressed' %>
  </div>
  <div>
    <%= submit_tag "Upload and Process" %>
  </div>
<% end %>

<h2>Ingests</h2>

<table>
  <thead>
  <tr>
    <th>PID</th>
    <th>XML Filename</th>
    <th>Status</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody>
  <% @ingests.each do |ingest| %>
    <tr>
      <td><%= ingest.pid %></td>
      <td><%= ingest.xml_filename %></td>
      <td><%= ingest.status %></td>
      <td><%= ingest.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
