.p-5.my-3.well.rounded-3
  %h1
    %i.fa-solid.fa-box-archive
    DRS · Digital Repository Service
  %p.pt-3.lead
    The Digital Repository Service is a secure repository system, designed to store and share scholarly, administrative, and archival materials on behalf of the Northeastern University community.
    %br
    %br
    Anyone is welcome to use the DRS to discover publicly available content. Members of the Northeastern community are encouraged to sign in to access additional content that may not be publicly available. For more information about the DRS, or for help getting started, visit the Digital Scholarship Group's
    = succeed "." do
      %a{:href => "https://dsg.neu.edu/services/drs/", :target => "_blank"} DRS resource page

%section.my-4{ aria: { labelledby: 'featured-content-heading' } }
  %h2#featured-content-heading.h4.mb-3 Featured Content
  .row.row-cols-2.row-cols-md-4.g-2
    - featured_gateways.each do |label, icon, href|
      .col
        = link_to href, class: 'featured-gateway featured-gateway--row' do
          %i.fa-solid.fa-fw{ class: icon, aria: { hidden: 'true' } }
          %span.featured-gateway__label= label

%section.my-4{ aria: { labelledby: 'recently-added-heading' } }
  %h2#recently-added-heading.h4.mb-0 Recently Added Items
  - if @recent_documents.present?
    -# documents-gallery scopes the shared 170×170 .document-thumbnail sizing
    -# (app/assets/stylesheets/_blacklight_discovery.scss) so these cards match
    -# the catalog gallery view's square thumbnails instead of rendering squashed.
    .row.row-cols-2.row-cols-md-3.row-cols-lg-4.g-3.documents-gallery
      - @recent_documents.each_with_index do |doc, i|
        = render Blacklight::Gallery::DocumentComponent.new(document: document_presenter(doc), counter: i + 1)
  - else
    %p.text-secondary.mb-0 No items to show yet.

= render 'shared/downloads_modal'
