= render partial: "tabs"
.tab-content
  .tab-pane.active{:id => "##{type}"}
    .impressions
      %h4
        = "Total #{type}: #{impressions.count}"
      = will_paginate impressions
      %table.table.table-striped.table-bordered
        %th
          = sortable "created_at", "Time"
        %th
          = sortable "pid", "PID"
        %th
          = sortable "ip_address", "IP Address"
        %th
          = sortable "session_id"
        %th
          = sortable "referrer"
        -if type == "downloads"
          %th
            = sortable "status"
        %th
          = sortable "user_agent"
        %th
          = sortable "public"
        - impressions.each do |i|
          %tr
            %td
              = i.created_at.strftime("%F %T")
            %td
              - solr = ActiveFedora::SolrService.query("id:\"#{i.pid}\"").first
              - if !solr.nil?
                - doc = SolrDocument.new(solr)
                - if doc.klass == "CoreFile"
                  %a{:href => core_file_path(doc.pid), :target => "_blank"}
                    = doc.pid
                - else
                  - parent = doc.get_core_record
                  %a{:href => core_file_path(parent.pid), :target => "_blank"}
                    = parent.pid
                  = doc.klass
              - else
                = i.pid
            %td
              = i.ip_address
            %td
              = i.session_id
            %td
              %a{:href => i.referrer, :target => "_blank"}
                = i.referrer
            -if type == "downloads"
              %td
                = i.status
            %td
              = i.user_agent
            %td
              = i.public
