%ul.breadcrumb
  %li
    = link_to 'Admin Panel', '/admin'
  %li.active
    = link_to 'Stats Page', '/admin/stats'

%h2.page-header Stats Page

Communities:
= @community_count

Collections:
= @collection_count

Core Files:
= @core_file_count

Image Files:
= @image_count
PDF Files:
= @pdf_count
Word Files:
= @word_count
Audio Files:
= @audio_count
Excel Files:
= @excel_count
Powerpoint Files:
= @ppt_count
Text Files:
= @text_count
Video Files:
= @video_count
Zip Files:
= @zip_count
