%ul.breadcrumb
  %li
    = link_to 'Admin Panel', '/admin'
  %li.active
    = link_to 'Stats Page', '/admin/statistics'

%h2.page-header Stats Page

.row
  .span5
    %table.table.table-striped.table-bordered
      %tr
        %td
          .large
            = link_to('Communities', '/admin/communities')
        %td
          .large
            = @community_count
      %tr
        %td
          .large Collections
        %td
          .large
            = @collection_count
      %tr
        %td
          .large Core Files
        %td
          .large
            = @core_file_count
      %tr
        %td
          .large
            = link_to('Employees', '/admin/employees')
        %td
          .large
            = @employee_file_count
      %tr
        %td
          .large Users
        %td
          .large
            = @user_count
    %table.table.table-striped.table-bordered
      %tr
        %td
          Public Core Files
        %td
          = @public_core_file_count
      %tr
        %td
          Private Core Files
        %td
          = @private_core_file_count
  .span5.pull-right
    %table.table.table-striped.table-bordered
      - @content_type_counts.each do |type, value|
        %tr
          %td
            = type
          %td
            = value
