<% component = Blacklight::VERSION > '8' ?
  Blacklight::DocumentComponent.new(classes: 'col', component: :div, document: @presenter, counter: @counter) :
  Blacklight::DocumentComponent.new(classes: 'col', component: :div, document: @document, presenter: @presenter, counter: @counter)
%>
<%= render(component) do |component| %>
  <% component.with_body do %>
    <div class="card h-100">
      <div class="card-img-top d-flex justify-content-center align-items-center p-2">
        <%= thumbnail %>
      </div>
      <div class="card-body">
        <%= render Blacklight::Gallery::DocumentTitleComponent.new(presenter: @presenter, counter: @counter) %>
        <div class="text-center">
          <% if @document.klass == Work %>
            <button type="button"
                    class="btn btn-sm btn-link text-decoration-none p-0 me-2"
                    data-bs-toggle="modal"
                    data-bs-target="#downloadsModal"
                    data-downloads-url="<%= downloads_work_path(@document) %>">
              Downloads
              <i class="fa-solid fa-download ms-1" aria-hidden="true"></i>
            </button>
          <% end %>
          <%# klass_type (string), not klass: in component-template scope a
              bare `Collection` is ViewComponent::Collection, not the model. %>
          <% if helpers.current_user&.curates_sets? && %w[Work Collection].include?(@document.klass_type) %>
            <a href="#add-to-set-<%= @document.to_param %>"
               class="btn btn-sm btn-link p-0 me-2"
               role="button"
               data-bs-toggle="modal"
               data-controller="tooltip"
               data-bs-title="Add to Set">
              <span class="visually-hidden">Add to set</span>
              <i class="fa-solid fa-layer-group" aria-hidden="true"></i>
            </a>
          <% end %>
          <%= link_to helpers.report_a_problem_url(@document),
                      class: 'btn btn-sm btn-link p-0',
                      target: '_blank',
                      rel: 'noopener',
                      data: { controller: 'tooltip', 'bs-title': 'Report a problem' } do %>
            <span class="visually-hidden">Report a problem</span>
            <i class="fa-regular fa-comment-dots" aria-hidden="true"></i>
          <% end %>
        </div>
        <% if helpers.current_user&.curates_sets? && %w[Work Collection].include?(@document.klass_type) %>
          <%= render 'sets/picker_modal',
                     kind: @document.klass_type.downcase,
                     noid: @document.to_param %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
