%h1.page-header.slim-margin
  Edit Metadata
  %small
    %span.glyphicon.glyphicon-pencil
    Please supply some details about your file.

= form_for(@work, :url => edit_work_path(@work.id), method: 'post', :html => {:multipart => true}, id: "provideMetadataForm") do |f|
  = render 'shared/metadata/basic', f: f
  = render 'shared/metadata/keywords', f: f
  = render 'shared/metadata/creators', f: f
  = render 'shared/metadata/orgs', f: f
  = render 'shared/metadata/citation', f: f
  = render 'shared/metadata/permissions', f: f
  .row
    .col-md-12
      .form-group
        .pull-left
          %button.btn.btn-warning.reset Reset
        .pull-right
          %button.btn.btn-primary{:name => "submit", :type => "submit"} Submit
        .clearfix
