%h1.page-header.slim-margin
  Provide Metadata
  %small
    %span.glyphicon.glyphicon-pencil
    Please supply some details about your file.

= form_for(@work, :url => process_metadata_path(@work.id), method: 'post', :html => {:multipart => true}, id: "provideMetadataForm") do |f|
  .row
    .col-md-12
      %h4 Basic Information
  .row
    -# = f.inspect
    = render 'shared/metadata/title', f: f
    = render 'shared/metadata/date', f: f
    = render 'shared/metadata/embargo', f: f
  .row
    = render 'shared/metadata/description', f: f
  = render 'shared/metadata/keywords', f: f
  .row
    .col-md-12
      %h4
        Creators
        %small
          Click + to add another creator
  .row
    = render 'shared/metadata/creators', f: f
  .row
    .col-md-12
      %h4
        Companies, institutions, or other organizations
        %small
          Click + to add another entity
  .row
    = render 'shared/metadata/orgs', f: f
  = render 'shared/metadata/citation', f: f
  .row
    .col-md-12
      %h4
        Permissions
        %small
          Click + to add another group permission
  .row
    = render 'shared/metadata/mass_permissions', f: f
    = render 'shared/metadata/group_permissions', f: f
  .row
    .col-md-12
      .form-group
        .pull-left
          %button.btn.btn-warning.reset Reset
        .pull-right
          %button.btn.btn-primary{:name => "submit", :type => "submit"} Submit
        .clearfix

:javascript
  $(function() {
    $('[data-toggle="tooltip"]').tooltip({
    container: 'body'
    });
  });
  $(function()
  {
      $(document).on('click', '.reset', function(e)
      {
          e.preventDefault();
          $(':input').not(':button, :submit, :reset, :hidden').removeAttr('checked').removeAttr('selected').not('‌​:checkbox, :radio, select').val('');
      });
  });
  $(function()
  {
      $(document).on('click', '.btn-add', function(e)
      {
          e.preventDefault();

          var hr = document.createElement("hr");

          var controlForm = $('#provideMetadataForm'),
              currentEntry = $(this).parents('.row:first'),
              newEntry = $(currentEntry.clone().find('.dropdown-toggle, .dropdown-menu').remove().end()).insertAfter(currentEntry);
              newEntry.find(':input').not(':button, :submit, :reset, :hidden').removeAttr('checked').removeAttr('selected').not('‌​:checkbox, :radio, select').val('');

          $(hr).insertAfter(currentEntry);

          $('.selectpicker').selectpicker({});

          newEntry.find('.btn-add:last')
              .removeClass('btn-add').addClass('btn-remove')
              .removeClass('btn-success').addClass('btn-danger')
              .html('<span class="glyphicon glyphicon-minus"></span>');
      }).on('click', '.btn-remove', function(e)
      {
        $(this).parents('.row').first().prev().remove();
    		$(this).parents('.row').first().remove();
    		e.preventDefault();
    		return false;
  	});
  });
