- if defined?(remote) && remote == true
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &#215;
    %h3#ajaxModalLabel Create New #{ t('drs.compilations.name').capitalize }
= form_for( @set, :remote => ((defined?(remote) && remote == true) ? true : false) ) do |f|
  %div{:class=>((defined?(remote) && remote == true) ? "modal-body" : "")}
    - if "#{@set.class}" == "Compilation"
      - type = 'compilation'
    - else
      - type = 'set'
    - if params[:parent].present?
      = f.hidden_field :parent, name: "set[parent]", :value => params[:parent]
    %fieldset
      .row-fluid
        .span8
          = f.label :title, "Title", class: "required-label", title: "Required Field", data: { toggle: "tooltip" }
          = f.text_field :title, required: true, pattern: ".*\\S.*", class: "input-block-level", placeholder: "University Libraries", name: "#{type}[title][]"
        - if "#{@set.class}" != "Compilation"
          - if @set.thumbnail_list.blank?
            .span4
              = f.label :thumbnail, "Upload thumbnail"
              = f.file_field :thumbnail, name: 'thumbnail', accept:".jpg,.jpeg,.png"
              %span.help-block
                Will be displayed on collection pages. (150px by 150px)
          - else
            .span4
              = f.label :remove_thumbnail, "Existing thumbnail"
              %img{id: "set_thumbnail", src: @set.thumbnail_list.first + "&timestamp=#{Time.now.to_i}", title: @set.title, alt: "", class: ['well-padded-thumb']}(aria-labeledby="#{@set.pid}-title" role="presentation")
              %br
              %br
              Remove existing thumbnail?
              = check_box_tag :remove_thumbnail
      = f.label :description, "Description"
      = f.text_area :description, pattern: ".*\\S.*", class: "input-block-level", rows: 5, name: "#{type}[description][]"
      .row-fluid
        %fieldset.span6
          %legend Mass Permissions
          = label_tag :mass_permissions, "Choose Mass Permissions:"
          = select_tag :mass_permissions, options_for_select( "#{@set.class}" != 'Compilation' ? @set.valid_mass_permissions : ["public", "private"], @set.mass_permissions) , class: "span12", name: "#{type}[mass_permissions]"
          %p.help-block
            %ul
              %li Setting to 'public' will allow anyone accessing the site to see your collection.
              %li Setting to 'private' will only allow groups that are explicitly chosen to see your collection.
        %fieldset.span6
          %legend Permissions
          = render partial: 'shared/sets/data_form_permissions_element', locals: {:f => f, :array_type => type, :permissions => filtered_permissions(@set, (@set.class == Compilation || (current_user && current_user.admin?))) }
          %button#add_another_permission.btn.btn-success.btn-block{:type => "button"}
            %i.icon-plus-sign.icon-large
            Add Permission
  -if !defined?(remote)
    .form-actions
      = render partial: 'shared/sets/privatize_modal', locals: { f: f }
      %input{ id: "privatize_btn", :class => ["btn", "btn-primary"], type: "submit", value: "Submit", data: { disable_with: "Please wait..."} }
      - if params[:action] == "edit"
        / Only specifying collection here, because community is behind /admin and has it's own partial
        %a{ href: "#cancelEditModal", :class => ["btn", "btn-warning"], data: { toggle: "modal" } }
          Cancel
      -else
        = button_tag "Reset", class: 'btn', type: :reset
  -else
    = hidden_field_tag(:entry_id, params[:entry_id])
    .modal-footer
      = f.submit class: "btn btn-primary", data: { disable_with: "Please wait..."}
      %button.btn{"data-dismiss" => "modal"} Close

= render partial: 'shared/cancel_edit_modal', locals: { item: @set }

:javascript
  $("#remove_thumbnail").change(function() {
    if(this.checked) {
      $( "#set_thumbnail" ).fadeTo( "fast" , 0.5 )
    }
    else{
      $( "#set_thumbnail" ).fadeTo( "fast" , 1 )
    }
  });

-if !@msg.blank?
  :javascript
    $("#mass_permissions").change(function() {
      if($("#mass_permissions").val() == 'private') {
        $( "#privatize_btn" ).attr("href", "#privatizeModal");
        $( "#privatize_btn" ).attr("data-toggle", "modal");
        $( "#privatize_btn" ).attr("button");
      }
      else{
        $( "#privatize_btn" ).attr("type", "submit");
        $( "#privatize_btn" ).removeAttr("data-toggle");
        $( "#privatize_btn" ).removeAttr("href");
      }
    });
