= form_for @set do |f|
  - if params[:parent].present?
    = f.hidden_field :parent, name: 'set[parent]', :value => params[:parent]
  %fieldset
    %legend Required Information
    .row-fluid
      .span8
        = f.label :title, "Title *"
        = f.text_field :title, required: true, pattern: ".*\\S.*", name: 'set[title][]', class: "input-block-level", placeholder: "Univeristy Libraries"
      .span4 
        = f.label :thumbnail, "Upload thumbnail" 
        = f.file_field :thumbnail, name: 'thumbnail'
        %span.help-block
          Will be displayed on collection pages. (150px by 150px)
    = f.label :description, "Description *"
    = f.text_area :description, required: true, pattern: ".*\\S.*", name: 'set[description][]', class: "input-block-level", rows: 5
    
  .form-actions
    = f.submit class: ['btn', 'btn-primary'], value: 'Submit'
    = button_tag "Reset", class: 'btn', type: :reset
