- if keywords.empty?
  .keyword
    = f.label :keywords, "Keyword"
    = f.text_field :keywords, value: "", name: "#{array_type}[keywords][]", pattern: ".*\\S.*", class: 'input-block-level', placeholder: "Science"
- else
  - keywords.each do |keyword|
    .keyword
      = f.label :keywords, "Keyword"
      = f.text_field :keywords, value: keyword, name: "#{array_type}[keywords][]", pattern: ".*\\S.*",class: 'input-block-level', placeholder: "Science"
