%ul.breadcrumb
  - if params['action'] == 'recent_deposits' || params['action'] == 'creator_list' || params['action'] == 'title_list'
    - set_breadcrumb_to_root(@set).each do |breadcrumb|
      =breadcrumb
  - else
    - breadcrumb_to_root(@set).each do |breadcrumb|
      =breadcrumb
  = render partial: 'shared/sets/breadcrumb_action_menu'

-# Had to break off the partial into two files to make sure the popover div renders outside of the list.
= render partial: 'shared/sets/breadcrumb_action_menu_links'


%article.well.clearfix.inline-headings
  %h1{:class => @set.klass, :id => "#{@set.pid}-title",}
    - if @set.klass == "Collection"
      = link_to kramdown_parse(@set.title), collection_path(@set)
    - elsif @set.klass == "Community"
      = link_to kramdown_parse(@set.title), community_path(@set)
  %h3
    - if @set.klass == "Collection" # and doesn't have a thumbnail to render
      = render partial: 'shared/icon', locals: { class_string: 'icon-folder-open' }
    - elsif @set.klass == "Community"
      = render partial: 'shared/icon', locals: { class_string: 'icon-group' }
    = render partial: 'catalog/search_form', locals: { scope: "true", scoped_placeholder: "Search this #{@set.type_label.downcase}" }
  %h1
    %small
      = @set.type_label
  - if !@set.thumbnail_list.empty?
    %img{src: @set.thumbnail_list.first, title: @set.title, alt: "", class: ['pull-left', 'well-padded-thumb']}(aria-labeledby="#{@set.pid}-title" role="presentation")
  - if !@set.description.blank?
    %p.set-description
      = @pretty_description
  - if @set.klass == "Collection" && !@set.identifier.blank? && @set.identifier != @set.pid
    -# Display handles if they exist, and aren't just the pid
    %p.set-handle
      = link_to "#{@set.identifier}", @set.identifier
  %nav.set-actions
    %ul.nav.nav-pills
      - if ((@response && @response.response['numFound'] > 0) || @files && @files.count > 0)&& @set.has_core_file_children?
        %li{:class=>("active" if current_page?(action: 'recent_deposits'))}
          - if @set.klass == "Collection"
            %a.btn.btn-default{:href=>collection_recent_deposits_path(@set)}
              %i.icon-time
              Recent Deposits
          -elsif @set.klass == "Community"
            %a.btn.btn-default{:href=>community_recent_deposits_path(@set)}
              %i.icon-time
              Recent Deposits
        - if @set.has_creators?
          %li{:class=>("active" if current_page?(action: 'creator_list'))}
            - if @set.klass == "Collection"
              %a.btn.btn-default{:href=>collection_creator_list_path(@set)} Creator List
            - elsif @set.klass == "Community"
              %a.btn.btn-default{:href=>community_creator_list_path(@set)} Creator List
        %li{:class=>("active" if current_page?(action: 'title_list'))}
          - if @set.klass == "Collection"
            %a.btn.btn-default{:href=>collection_title_list_path(@set)} Title List
          - elsif @set.klass == "Community"
            %a.btn.btn-default{:href=>community_title_list_path(@set)} Title List
      - if current_user && @set.klass == "Collection"
        -if (current_user.can? :edit, @set.pid) && (current_user.admin? || @set.smart_collection_type.nil? || @set.smart_collection_type == "miscellany")
          %li.pull-right
            %a.btn.btn-default{:href =>  edit_collection_path(@set)}
              %i.icon-pencil
              Manage Collection
