%div
  = form_tag( request_move_collection_path ) do
    %fieldset
      .row-fluid
        .span10
          = label_tag :collection_url, "Where would you like this collection to be moved?"
          = label_tag do
            %small Please enter the URL for the destination collection.
          = text_field_tag :collection_url, nil, :required => true
      .row-fluid
        .span10
          = label_tag :reason, "Why would you like us to move this collection?"
          = text_area_tag :reason, nil, :required => true, rows: 5, class: 'input-block-level'
          %a.btn.btn-warning{href:"#moveModal", title: "Request Move", data: {toggle: "modal"}}
            Request
    = render partial: 'shared/sets/move_modal', locals: { move_path: request_move_collection_path }
