.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} x
  %h3 Recent Deposits
.modal-body
  - @recent_deposits.each do |rc|
    %h4.drs-item-title
      %a{href: rc.path}
        = "#{rc.non_sort} "
        = kramdown_parse(rc.title)
      %span.drs-item-subtitle
        = "deposited on #{rc.create_date_time.strftime("%c")}"
.modal-footer
  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal" } Close
