- doc = @set.class == SolrDocument ? @set : SolrDocument.new(@set.to_solr)
%div
  .row-fluid
    .span10
      = "Views: #{doc.impression_views}"
      %br
      = "Downloads: #{doc.impression_downloads}"
      %br
      = "Streams: #{doc.impression_streams}"
