%h1.page-header
  Edit
  %i
    = @set.title
%ul.nav.nav-tabs
  %li.active
    %a{ href: "#edit",  data: {toggle: "tab"} }
      %i.icon-pencil
      Edit
  - if "#{@set.class}" != "Compilation"
    %li
      %a{ href: "#move", data: {toggle: "tab"}}
        %i.icon-exchange
        Move
  %li
    %a{ href: "#delete", data: {toggle: "tab"}}
      %i.icon-trash
      Delete
  %li
    %a{ href: "#statistics", data: {toggle: "tab"}}
      %i.icon-bar-chart
      Statistics

.tab-content
  #edit.tab-pane.active
    = render partial: "shared/sets/data_form", locals: { set: @set }
  - if "#{@set.class}" != "Compilation"
    #move.tab-pane
      = render partial: "shared/sets/move", locals:  {set: @set }
  #delete.tab-pane
    = render partial: "shared/sets/delete", locals:  {set: @set }
  #statistics.tab-pane
    = render partial: "shared/sets/statistics", locals:  {set: @set }

:javascript
  $('.nav-tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
