- content_for(:description) do
  - @set.description
- facet_list ||= facet_field_names

%ul.breadcrumb
  -if @set.klass != "Compilation"
    - breadcrumb_to_root(@set).each do |breadcrumb|
      =breadcrumb
    = render partial: 'shared/sets/breadcrumb_action_menu'
    -# Had to break off the partial into two files to make sure the popover div renders outside of the list.
    = render partial: 'shared/sets/breadcrumb_action_menu_links'
  -else
    %li
      = link_to('Sets', '/sets')
    %li.active
      = @set.title.html_safe


%article.well.clearfix.inline-headings
  %h1{:class => @set.klass, :id => "#{@set.pid}-title",}
    = kramdown_parse(@set.title)
  %h3
    - if @set.klass == "Collection" # and doesn't have a thumbnail to render
      = render partial: 'shared/icon', locals: { class_string: 'icon-folder-open' }
    - elsif @set.klass == "Community"
      = render partial: 'shared/icon', locals: { class_string: 'icon-group' }
    - elsif @set.klass == "Compilation"
      =render partial: 'shared/icon', locals: { class_string: t('drs.compilations.icon') }
    - if @set.klass != "Compilation"
      = render partial: 'catalog/search_form', locals: { scope: "true", scoped_placeholder: "Search this #{@set.type_label.downcase}" }
  %h1
    %small
      = @set.type_label
  - if !@set.thumbnail_list.empty?
    %img{src: @set.thumbnail_list.first, title: @set.title, alt: "", class: ['pull-left', 'well-padded-thumb']}(aria-labeledby="#{@set.pid}-title" role="presentation")
  - if !@set.description.blank?
    %p.set-description
      = @pretty_description
  - if @set.klass == "Collection" && !@set.identifier.blank? && @set.identifier != @set.pid
    -# Display handles if they exist, and aren't just the pid
    %p.set-handle
      = link_to "#{@set.identifier}", @set.identifier

  - if current_user
    -if (@set.klass == "Collection" || @set.klass == "Compilation") && (current_user.can? :edit, @set.pid) && (current_user.admin? || @set.smart_collection_type.nil? || @set.smart_collection_type == "miscellany")
      %nav.set-actions
        %ul.nav.nav-pills
          -if @set.klass == "Compilation"
            %li.pull-left
              %b Total File Count:
              %span.compilation_count Calculating...
          %li.pull-right
            %a.btn.btn-default{:href =>  @set.klass == "Collection" ? edit_collection_path(@set) : edit_compilation_path(@set)}
              %i.icon-pencil
              = "Manage #{@set.type_label}"
          -if @set.klass == "Compilation"
            %li.pull-right
              %a.btn{ href: prepare_download_path(id: @compilation.pid ) , method: 'get' }
                %i.icon-download
                Download

- if render_constraints(params) != ""
  %h1.page-header
    %i.icon-search
    %small
      = render_constraints(params)

- drs_items_class = drs_view_class == "list" ? "span9" : "span12"
- sidebar_class = drs_view_class == "list" ? "span3" : "span12"
- pane_small_class = drs_view_class == "list" ? "" : "span3"
- pane_large_class = drs_view_class == "list" ? "" : "span6"
%main.row( role="main" )
  %aside.drs-sidebar{ class: sidebar_class }
    .pane.results-view{ class: pane_small_class }
      %h4.sr-only View layout preferences
      = render partial: 'shared/sets/sets_sidebar'
    .pane.facets{ class: pane_small_class }
      = render :partial=>'catalog/facets', locals: { facet_list: facet_list }
    .pane.pagination-info{ class: pane_large_class }
      = render 'catalog/sort_and_per_page'

  %section{ class: drs_items_class }
    -# Main content
    = render :partial => 'catalog/did_you_mean'
    -# Render the results in the main section of the page.
    = render 'catalog/results_pagination'
    = render :partial => 'catalog/document_list'
    = render 'catalog/results_pagination'
    -if @set.klass != "Compilation"
      = render partial: 'shared/sets/bottom_action_menu'

%div#add_compilation_form{ style: 'display:none' }

-if @set.klass == "Compilation"
  :javascript
    $(document).ready(function(){
      $.getScript("#{set_count_path(@set)}");
    });
