- if @set.parent
  %ul.breadcrumb 
    - breadcrumb_to_root(@set).each do |breadcrumb| 
      =breadcrumb 

%h2.page-header= @set.title 

- if @set.description.length > 0 
  .well
    %h4 Description
    %p
      = @set.description

= render partial: 'shared/sets/show_sets'

%p Actions:

= render_create_collection_button(@set)

- if @set.instance_of?(Department)
  %br
  = render_create_department_button(@set)
  %br
  %br

- if @set.instance_of?(NuCollection)
  = render partial: 'shared/sets/show_files', locals: { collection: @set }

%div#add_compilation_form{ style: 'display:none' } 

- if @set.instance_of?(NuCollection)
  %p Actions:

  = render_upload_files_button(@set)