
%ul.breadcrumb  
  - breadcrumb_to_root(@set).each do |breadcrumb| 
    =breadcrumb
  = render partial: 'shared/sets/breadcrumb_action_menu'
-# Had to break off the partial into two files to make sure the popover div renders outside of the list.
= render partial: 'shared/sets/breadcrumb_action_menu_links'


%h2.page-header= @set.title 

- if @set.description.length > 0 
  .well
    %h4 Description
    %p
      = @set.description
= debug @set
= render partial: 'shared/sets/show_sets'



- if @set.instance_of?(NuCollection)
  = render partial: 'shared/sets/show_files', locals: { collection: @set }

%div#add_compilation_form{ style: 'display:none' } 
