- content_for(:head) { tag.meta(name: "turbo-cache-control", content: "no-cache") }
- record     = local_assigns.fetch(:record, nil)
- title      = record.try(:title) || params[:id]
- reason     = record.try(:tombstone_reason)
- staff_link = link_to "contact the DRS staff", "mailto:Library-Repository-Team@neu.edu"
.d-flex.align-items-center{ style: "min-height: 60vh;" }
  .container.p-4.text-center
    %h4.text-black-50.mb-2.pb-3
      %span.fa-solid.fa-trash-can.pe-2
      410
    %h3
      - if reason.present?
        = "\"#{title}\" was #{reason[0, 1].downcase + reason[1..]}."
      - else
        = "\"#{title}\" has been removed."
    .pt-3
    - if record.try(:identifier).present?
      %p.mb-0
        %strong Title:
        = title
      %p.mb-0
        %strong Permanent URL:
        = link_to record.identifier, record.identifier
      .pt-2
    %p.mb-0
      If you believe this item was removed in error, please #{staff_link}.
