- content_for(:head) { tag.meta(name: "turbo-cache-control", content: "no-cache") }
- record     = local_assigns.fetch(:record, nil)
- title      = record.try(:title) || params[:id]
- reason     = record.try(:tombstone_reason)
- url        = record.try(:identifier) || record.try(:permanent_url)
- staff_link = link_to "contact the DRS staff", "mailto:Library-Repository-Team@neu.edu"
.error-page.error-page--gone
  %header.error-page__head
    %i.fa-solid.fa-trash-can.error-page__icon{'aria-hidden' => 'true'}
    %span.error-page__status
      %span.error-page__status-code 410
      %span.error-page__status-label Gone
  .error-page__body
    %h1.error-page__title
      - if reason.present?
        = "\"#{title}\" was #{reason[0, 1].downcase + reason[1..]}."
      - else
        = "\"#{title}\" has been removed."
    - if url.present?
      %dl.error-page__details
        %dt Title
        %dd= title
        %dt Permanent URL
        %dd= link_to url, url
  .error-page__actions
    If you believe this item was removed in error, please #{staff_link}.
