- content_for(:head) { tag.meta(name: "turbo-cache-control", content: "no-cache") }
- obj_type    = local_assigns.fetch(:obj_type, 'page')
- staff_link  = link_to "contacting the DRS staff", "mailto:Library-Repository-Team@neu.edu"
- report_link = link_to "reporting the problem", "https://northeastern.libanswers.com/form?queue_id=5581&resource=#{CGI::escape(request.original_url)}", target: "_blank"
.error-page.error-page--not-found
  %header.error-page__head
    %i.fa-solid.fa-circle-question.error-page__icon{'aria-hidden' => 'true'}
    %span.error-page__status
      %span.error-page__status-code 404
      %span.error-page__status-label Not Found
  .error-page__body
    %h1.error-page__title
      = "Sorry, the #{obj_type} you requested was not found in the system."
    %p.error-page__lede It either never existed or has been deleted.
  .error-page__actions
    You might be interested in #{staff_link}
    %span.sep ·
    or #{report_link}.
