.communities
  = render 'catalog/results_pagination'

  %table.table.table-striped
    - @communities.each do |community|
      %tr
        %td
          .large= community.title.html_safe
        %td
          = link_to("Edit", edit_admin_community_path(community),
          class: "btn btn-small btn-warning")
        %td
          %a{ href: "#deleteModal", title: "Delete \"#{community.title}\"?", data: {toggle: 'modal'}, class:"btn btn-danger btn-small" } Delete
          = render partial: 'admin/delete_modal', locals: { title: "Delete \"#{community.title}\"?", button_title: "Delete", delete_path: "#{admin_community_path(community)}", item: community }

  = render 'catalog/results_pagination'
