.communities
  = render 'catalog/results_pagination'

  %table.table.table-striped
    - @communities.each do |community|
      %tr
        %td
          .large= community.title.html_safe
        %td
          = link_to("Edit", edit_admin_community_path(community), class: "btn btn-small btn-warning")
        %td
          = link_to("Destroy", admin_community_path(community), method: :delete, confirm: "This action is irreversible", class: "btn btn-small btn-danger")

  = render 'catalog/results_pagination'
