:javascript
  var communities_for_autocomplete = #{solr_query("active_fedora_model_ssi:\"Community\"").map{|doc|  Hash[*["label", doc.title, "value", doc.pid]]}.to_json}

= form_for [:admin, @community] do |f|
  - if params[:action].eql?('new')
    = f.hidden_field :parent, name: 'community[parent]'
  %fieldset
    %legend
    %fieldset
      .row-fluid
        .span8
          - if params[:action].eql?('new')
            = f.label :parent, "Parent Community", class: "control-label required-label"
            %input{:id => "community_autocomplete", :type => "text", :required => true}
          = f.label :title, "Title", class: "control-label"
          = f.text_field :title, required: true, pattern: ".*\\S.*", name: 'community[title][]', class: "input-block-level", placeholder: "University Libraries"
      = f.label :description, "Description"
      = f.text_area :description, name: 'community[description][]', class: "input-block-level", rows: 5
    %hr
    %legend Permissions
    %fieldset
      .row-fluid
        .span8
          = f.label :mass_permissions, "Mass Permissions"
          = f.select :mass_permissions, options_for_select(['public', 'private'], @community.mass_permissions)
    %hr
    %legend Thumbnail (Optional)
    - if !@community.properties.thumbnail_list[0].blank?
      =image_tag @community.properties.thumbnail_list[0]
    %fieldset
      .row-fluid
        .span8
          = f.label :thumbnail, "Thumbnail"
          = f.file_field :thumbnail, name: 'thumbnail', accept:".jpg,.jpeg,.png"
    %hr
    %legend Theses and Dissertations
    %fieldset
      .row-fluid
        .span8
          - if !@community.has_theses?
            .checkbox
              = label_tag :theses, "Include Theses and Dissertations Folder", class: "checkbox inline"
              = check_box_tag :theses
          - else
            %span This collection already has a theses and dissertations folder
    %hr
  .form-actions
    = f.submit class: ['btn', 'btn-primary', 'btn-large'], value: 'Submit'
