%h2.page-header= "Edit #{@community.title}" 

%ul.nav.nav-tabs

.tab-content
  #local.tab-pane.active
    = render partial: 'data_form'


    %h3.page-header Employees

    #community_employees
      = render partial: 'admin_community_employees', locals: { community: @community }


%p= params[:controller] 
%p= params[:action]

:javascript
  var employees_for_autocomplete = #{Employee.all.map{|c| {'label' => c.nuid, 'value' => c.id}}.to_json}

= form_tag admin_employee_path, :method => :put, :id => 'modify_employee', :remote => true do
  %input{:type=>"hidden", :id => "admin_employee", :name => "admin[employee]"}
  /the form action will be done by javascript, as we'll be getting the ids after the dom is made
  %fieldset
    %legend Add Employee to Community
    .row-fluid
      .span8
        = label_tag "admin_employee_autocomplete", "Employee *"        
        %input{:id => "admin_employee_autocomplete", :type => "text", :required => "yes"}
  .form-actions
    = submit_tag "Submit", :class => ['btn', 'btn-primary', 'btn-large'], :id => "submit_button"