%ul.breadcrumb
  %li
    = link_to 'Admin Panel', '/admin'
  %li.active
    = link_to 'Manage Communities', '/admin/communities'

%h2.page-header All Communities

.row
  .span4
    =link_to("Create new community", new_admin_community_path, class: "btn btn-success")
%br
%br

= form_tag admin_communities_path, :method => 'get', :id => 'filterList' do
  = text_field_tag :search, params[:search]
  = submit_tag "Search", :name => nil

//= render 'catalog/results_pagination'

%table.table.table-striped
  :javascript
    $(".table").html("#{escape_javascript(render partial: 'admin_community', locals: { items: @communities } )}");
    $("#search").keyup(function() {
      $("#filterList").submit();
    });

//= render 'catalog/results_pagination'
