%ul.breadcrumb
  %li
    = link_to 'Admin Panel', '/admin'
  %li.active
    = link_to 'Manage Communities', '/admin/communities'

%h2.page-header All Communities

.row
  .span4
    =link_to("Create new community", new_admin_community_path, class: "btn btn-success")
%br
%br

= form_tag filter_list_path, :method => 'get', :class => 'form-inline', :remote => true do
  = text_field_tag :search, params[:search]
  //note that this is case sensitive right now
  = submit_tag "Search", :name => nil, :class => "btn btn-info"

= render partial: "admin_community", locals: { communities: @communities }

:javascript
  $("#search").keyup(function() {
    var search = $("#search").val();
    $.getScript('/admin/communities/filter_list?search=' + search);
  });
