%ul.breadcrumb
  %li
    = link_to 'Admin Panel', '/admin'
  %li.active
    = link_to 'Manage Sets', admin_compilations_path

%h2.page-header
  = "All " + t('drs.compilations.name').capitalize + "s"

= form_tag admin_compilations_filter_list_path, :method => 'get', :class => 'form-inline', :remote => true do
  = text_field_tag :search, params[:search]
  //note that this is case sensitive right now
  = submit_tag "Search", :name => nil, :class => "btn btn-info"

= render partial: "list", locals: { sets: @sets }
