  <% paginator =
      Blacklight::Solr::FacetPaginator.new(display_facet.items,
        :limit => facet_limit_for(solr_field))
      %>
<li class="dropdown-submenu">
  <a tabindex="-1"><%=facet_field.label%><%=facet_limit_for(solr_field)%></a>
  <ul class="dropdown-menu">
  <!-- Fixes #647 - Bit of a kludge - FacetPaginator doesn't seem to care about :sort... -->
  <% if facet_field.label == "Year" then paginator.items.sort_by!{|x| x.value.to_i}.reverse! end %>
  <% paginator.items.each do |item| -%>
    <li>
      <div class="facet_values">
        <div class="facet_value">
          <% if facet_in_params?( solr_field, item.value ) %>
              <%= render_selected_facet_value(solr_field, item).split("(").join('(<small>').split(")").join("</small>)").html_safe %>
            <% else %>
              <%= render_facet_value(solr_field, item).split("(").join('(<small>').split(")").join("</small>)").html_safe %>
          <% end -%>
        </div>
      </div>
    </li>
  <% end %>

  <% if(paginator.has_next?)  %>
    <li class="more_facets_link">
      <% if controller_name == "communities" %>
        <%= link_to('more ' + facet_field.label.pluralize + '»', community_facet_path(:id => params[:id], :solr_field => solr_field, :params => params), :class => "more_facets_link") %>
      <% elsif controller_name == "collections" %>
        <%= link_to('more ' + facet_field.label.pluralize + '»', collection_facet_path(:id => params[:id], :solr_field => solr_field, :params => params), :class => "more_facets_link") %>
      <% elsif action_name != "index" %>
        <%= link_to('more ' + facet_field.label.pluralize + '»', catalog_facet_path(solr_field, :smart_collection => action_name, :params => params), :class => "more_facets_link") %>
      <% else %>
        <%= link_to('more ' + facet_field.label.pluralize + '»', catalog_facet_path(solr_field, :params => params), :class => "more_facets_link") %>
      <% end %>
    </li>
  <% end %>
  </ul>
</li>
