.hero-unit
  %h1
    =render partial: "shared/icon", locals: {class_string: t('drs.product_icon') }
    #{t('drs.product_name.short')}
    %small
      #{t('drs.product_name.full').titleize}
  %p.lead
    = t ('drs.homepage.description.short').html_safe
  %p
    = t('drs.homepage.description.long').html_safe
    %br
    %br
    %a.btn.btn-mini.pull-right{:href => "/terms/", :style => "margin:5px 0;"} Terms of service
%section.row
  .span3.featured-content
    %h3 Featured Content

    %a.btn.btn-clear.btn-block{href: catalog_theses_and_dissertations_path, data: {toggle: "tooltip"}, title: t('drs.featured_content.theses.description') }
      =render partial: 'shared/icon', locals: { class_string: t('drs.featured_content.theses.icon') }
      #{ t('drs.featured_content.theses.name') }

    %a.btn.btn-clear.btn-block{href: catalog_research_path, data: {toggle: "tooltip"}, title: t('drs.featured_content.research.description') }
      =render partial: 'shared/icon', locals: { class_string: t('drs.featured_content.research.icon') }
      #{ t('drs.featured_content.research.name') }

    %a.btn.btn-clear.btn-block{href: catalog_presentations_path, data: {toggle: "tooltip"}, title: t('drs.featured_content.presentations.description')}
      =render partial: 'shared/icon', locals: { class_string: t('drs.featured_content.presentations.icon') }
      #{ t('drs.featured_content.presentations.name') }

    %a.btn.btn-clear.btn-block{href: catalog_monographs_path, data: {toggle: "tooltip"}, title: t('drs.featured_content.monographs.description')}
      =render partial: 'shared/icon', locals: { class_string: t('drs.featured_content.monographs.icon') }
      #{ t('drs.featured_content.monographs.name') }

    / %a.btn.btn-clear.btn-block{href: catalog_learning_objects_path, data: {toggle: "tooltip"}, title: t('drs.featured_content.learning.description') }
    /   =render partial: 'shared/icon', locals: { class_string: t('drs.featured_content.learning.icon') }
    /   #{ t('drs.featured_content.learning.name') }

    -# %a.btn.btn-clear.btn-block{href: catalog_datasets_path, data: {toggle: "tooltip"}, title: t('drs.featured_content.datasets.description') }
    -#   =render partial: 'shared/icon', locals: { class_string: t('drs.featured_content.datasets.icon') }
    -#   #{ t('drs.featured_content.datasets.name') }

    %a.btn.btn-clear.btn-block{href: catalog_technical_reports_path, data: {toggle: "tooltip"}, title: t('drs.featured_content.technical_reports.description') }
      =render partial: 'shared/icon', locals: { class_string: t('drs.featured_content.technical_reports.icon') }
      #{ t('drs.featured_content.technical_reports.name') }

    %a.btn.btn-clear.btn-block{href: catalog_communities_path, data: {toggle: "tooltip"}, title: t('drs.featured_content.communities.description') }
      =render partial: 'shared/icon', locals: { class_string: t('drs.featured_content.communities.icon') }
      #{ t('drs.featured_content.communities.name') }

    -# Need to find a canned query for this
    %a.btn.btn-clear.btn-block{href: catalog_faculty_and_staff_path, data: {toggle: "tooltip"}, title: t('drs.featured_content.employees.description') }
      =render partial: 'shared/icon', locals: { class_string: t('drs.featured_content.employees.icon') }
      #{ t('drs.featured_content.employees.name') }
  .span9
    %h3 Recently Added Items
    - if @recent_documents.length > 0
      %section{class: ["drs-items-grid", "drs-items", "front-page-dropdown"] }
        - @recent_documents.sample(3).each do |f|
          - @thumbs = f.thumbnail_list
          =render partial: "shared/drs_item/drs_item", locals: { item: f }
    - else
      .alert.alert-info
        %button.close{"data-dismiss" => "alert", type: "button", "aria-hidden" => true }
          &times;
        %strong
          No recent documents found.
        Please check back soon.
