.hero-unit
  %h1
    #{t('drs.product_name.short')}
    %small
      #{t('drs.product_name.full')}
  %p
    #{t('drs.product_name.short')}
    is a secure repository service enabling the #{t('sufia.institution_name')} community to share its research and scholarly work with a worldwide audience.
    Faculty, staff, and students can use #{t('sufia.product_name')} to collect their work in one location and create a durable and citeable record of their papers,
    presentations, publications, data sets, or other scholarly creations. Through this service, #{t('sufia.institution_name')} researchers can also comply with
    grant-funding-agency requirements for sharing and managing research data.
  %a.btn.btn-link.pull-right{:href => "/terms/"} Terms of Use
%h2 Featured Content
.row-fluid    
  .span3
    %h3
      Research
      %i.icon-beaker
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, repellat quia fuga iure modi nisi quasi aspernatur aliquam officia unde cupiditate doloremque.
    %a.btn.btn-primary.btn-block(href=research_path)
      Explore Research Publications
  .span3
    %h3
      Presentations
      %i.icon-facetime-video
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, repellat quia fuga iure modi nisi quasi aspernatur aliquam officia unde cupiditate doloremque.
    %a.btn.btn-primary.btn-block(href=presentations_path)
      Explore Presenations
  .span3
    %h3
      Learning Objects
      %i.icon-book
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, repellat quia fuga iure modi nisi quasi aspernatur aliquam officia unde cupiditate doloremque.
    %a.btn.btn-primary.btn-block(href=learning_objects_path)
      Explore Learning Objects
  .span3
    %h3
      Datasets
      %i.icon-table
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, repellat quia fuga iure modi nisi quasi aspernatur aliquam officia unde cupiditate doloremque.
    %a.btn.btn-primary.btn-block(href=datasets_path)
      Explore Datasets