- facet_list ||= facet_field_names

- if !has_search_parameters?
  - content_for :page_header do
    = render 'home'
- else
  - # Better search results here
  - html_constraints = render_constraints( params )
  - safe_constraints = params[:q] ? strip_tags( params[:q].sub( "</span>" , ""  ) ) : ''
  - @page_title = @search_type || safe_constraints != "" ? "Search: '#{safe_constraints}'" : "Search"

  -content_for :page_header do
    %h1.page-header
      %i.icon-search
      = @search_type || "Search Results"
      %small
        = html_constraints
  - drs_items_class = drs_view_class == "list" ? "span9" : "span12"
  - sidebar_class = drs_view_class == "list" ? "span3" : "span12"
  - pane_small_class = drs_view_class == "list" ? "" : "span3"
  - pane_large_class = drs_view_class == "list" ? "" : "span6"
  %main.row( role="main" )
    %aside.drs-sidebar{ class: sidebar_class }
      .pane.results-view{ class: pane_small_class }
        %h4.sr-only View layout preferences
        = render partial: 'shared/sets/sets_sidebar'
      .pane.facets{ class: pane_small_class }
        / = render :partial => 'facet_selected'
        = render :partial=>'facets', locals: { facet_list: facet_list }
      .pane.pagination-info{ class: pane_large_class }
        / %h4
        /   Pagination
        / %p
        /   = render_pagination_info @response, :entry_name=>'item'
        = render 'sort_and_per_page'
      - if current_user
        = render :partial=>'shared/save_files', locals: {smart_col: false}

    %section{ class: drs_items_class }
      -# Main content
      = render :partial => 'did_you_mean'
      -# Render the results in the main section of the page.
      = render 'results_pagination'
      = render :partial => 'document_list'
      = render 'results_pagination'
