- facet_list ||= facet_field_names
- content_for :local_js do
  \// setting a fixed height so that the dialog does not hop around when you get to the last small page
  \//$.ui.dialog.prototype.options["height"]=window.innerHeight  *0.75
- content_for :sidebar do
  = render :partial=>'facets', locals: { facet_list: facet_list } 
- if !has_search_parameters? && (params[:action] == 'index')
  - content_for :page_header do 
    = render 'home'
- else
  - @page_title = application_name + " Search Results"
  - extra_head_content << render_opensearch_response_metadata.html_safe
  %h3 Search Results
  .alert.alert-info
    %i.icon-search.icon-large
    You searched for:
    %strong= render_constraints(params)
  = render :partial => 'did_you_mean'
  = render :partial => 'facet_selected'
  .row
    = render_pagination_info @response, :entry_name=>'item'
    = render 'sort_and_per_page'
    .row.offset80
      = link_to "New Search", catalog_index_path, :id=>"startOverLink", :class=>"btn btn-info btn-medium"
  = render 'results_pagination'
  = render :partial => 'document_list'
  = render 'results_pagination'
