- facet_list ||= facet_field_names

- content_for :local_js do
  \// setting a fixed height so that the dialog does not hop around when you get to the last small page
  \//$.ui.dialog.prototype.options["height"]=window.innerHeight  *0.75

- if !has_search_parameters? && (params[:action] == 'index')
  - content_for :page_header do 
    = render 'home'
  - content_for :sidebar do
    = render :partial=>'facets', locals: { facet_list: facet_list } 
- else
  - # Better search results here
  - html_constraints = render_constraints( params )
  - safe_constraints = strip_tags( html_constraints.sub( "</span>" , " / "  ) )
  - @page_title =  "Search: '"  + safe_constraints + "'"
  
  -content_for :page_header do
    %h1.page-header
      %i.icon-search
      Search Results
      %small
        = html_constraints
  -content_for :side_bar do
    %h5 View
    = render partial: 'shared/sets/sets_sidebar'
    = render :partial => 'did_you_mean'
    = render :partial => 'facet_selected'
    %h5 
      Pagination
    %p
      = render_pagination_info @response, :entry_name=>'item'
    = render 'sort_and_per_page'
    = render :partial=>'facets', locals: { facet_list: facet_list }

  -# Render the results in the main section of the page.
  = render 'results_pagination'
  = render :partial => 'document_list'
  = render 'results_pagination'