%article.well.clearfix
  %h1
    = render partial: 'shared/icon', locals: { class_string: t("drs.featured_content.#{smart_collection}.icon") }
    = t("drs.featured_content.#{smart_collection}.name")
    - if smart_collection != "employees"
      %small
        Featured Content
    = render partial: 'catalog/search_form', locals: {scope: "neu:1", smart_search: t("drs.featured_content.#{smart_collection}.name") }
  %p
    = t("drs.featured_content.#{smart_collection}.description")

- if render_constraints(params) != ""
  %h1.page-header
    %i.icon-search
    %small
      = render_constraints(params)

= render 'shared/smart_collection'
