%article.well.clearfix.inline-headings
  %h1
    = t("drs.featured_content.#{smart_collection}.name")
  %h3
    = render partial: 'shared/icon', locals: { class_string: t("drs.featured_content.#{smart_collection}.icon") }
    = render partial: 'catalog/search_form', locals: {scope: "true", scoped_placeholder: "Search this featured content" }
  %p
    = t("drs.featured_content.#{smart_collection}.description")

- if render_constraints(params) != ""
  %h1.page-header
    %i.icon-search
    %small
      = render_constraints(params)

= render 'shared/smart_collection'
