.page_file
  - page = nil
  - @document_list.each do |doc|
    - if doc['ordinal_value_ssi'] == params[:page]
      - page = doc
  %ul.breadcrumb
    - page_file_breadcrumb_to_root(page, @core_file.pid).each do |breadcrumb|
      =breadcrumb

  %h1.page-header
    = "#{@core_file.title}"
    %small= I18n.t('drs.display_labels.PageFile.short') + " #{page['ordinal_value_ssi']}"

  %div.span12
    = render 'catalog/results_pagination'
    %figure#single_page
      %img{:src=>"/downloads/#{page.id}?datastream_id=thumbnail_5"}

  :javascript
    $(document).ready(function(){
      page = window.location.hash;
      if (page[0] == '#'){ page = page.substring(1, page.length)}
      if (page){
        get_page("/files/#{@core_file.pid}/page/"+page, page);
      }
    ajax_pagination();
    function ajax_pagination(){
      $(".pagination span a").on("click", function(e){
        e.preventDefault();
        spinner = enable_spinner('single_page');
        var href = $(this).attr("href");
        var url = href.split('?')[0];
        var params = href.split('?')[1];
        var ordinal_value = 0;
        if (href.indexOf('/files/#{@core_file.pid}/page') == -1){
          href = "#{page_file_path(@core_file, 1)}?"+params;
          ordinal_value = 1;
        } else {
          ordinal_value = $(this).text();
          if (!$.isNumeric(ordinal_value)){
            ordinal_value = url[url.length-1];
          }
        }
        get_page(href, ordinal_value);
      })
    }
    function get_page(path, ordinal_value){
      $.getScript( path, function() {
        $("#single_page .spinner").remove();
        enable_pagination();
        location.hash = ordinal_value
      });
    }
    function enable_pagination(){
      ajax_pagination();
    }

  })
