.page_file
  %ul.breadcrumb
    - page_file_breadcrumb_to_root(@page, @core_file.pid).each do |breadcrumb|
      =breadcrumb

  %h1.page-header
    = "#{@core_file.title}"
    %small= "#{I18n.t('drs.display_labels.PageFile.short')} #{@page['ordinal_value_isi']}"

  %div.span12
    = render 'catalog/results_pagination'
    %figure#single_page
      %img{:src=>"/downloads/#{@page.id}?datastream_id=thumbnail_5"}

  :javascript
    $(document).ready(function(){
      var original_page = "";
      var original_ordinal = "";
      ajax_pagination(true);
      function ajax_pagination(first=false){
        $(".pagination span a").on("click", function(e){
          e.preventDefault();
          spinner = enable_spinner('single_page');
          var href = $(this).attr("href");
          var url = href.split('?')[0];
          var params = href.split('?')[1];
          var ordinal_value = 0;
          if (href.indexOf('/files/#{@core_file.pid}/page') == -1){
            href = "#{page_file_path(@core_file.pid, 1)}?"+params;
            ordinal_value = 1;
          } else {
            ordinal_value = $(this).text();
            if (!$.isNumeric(ordinal_value)){
              ordinal_value = url.split('/');
              ordinal_value = ordinal_value[ordinal_value.length-1];
            }
          }
          if (first == true){
            original_page = href;
            original_ordinal = ordinal_value;
          }
          get_page(href, ordinal_value);
        })
      }
      function get_page(path, ordinal_value){
        var stateObj = {url:path, ordinal_value:ordinal_value};
        history.pushState(stateObj, path, ordinal_value);
        $.getScript( path, function() {
          $("#single_page .spinner").remove();
          enable_pagination();
        });
      }
      function enable_pagination(){
        ajax_pagination();
      }
      function change(state) {
        console.log("in change event");
          if(state === null) { // initial page
            console.log("state is null")
            console.log("original page is" + original_page);
            console.log("original ordinal is " + original_ordinal);
            get_page(original_page, original_ordinal);
          } else { // page added with pushState
            console.log("state is not null");
            $.getScript( state.url, function() {
              $("#single_page .spinner").remove();
              enable_pagination();
            });
            var stateObj = {url:state.url, ordinal_value:state.ordinal_value};
          }
      }
      $(window).on("popstate", function(e) {
          console.log(e.originalEvent);
          console.log(e.originalEvent.state);
          change(e.originalEvent.state);
      });
    })
