!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    -if @type == t('drs.compilations.name').capitalize
      %h3= "Delete #{@type} Request"
    -else
      %h3= "Tombstone #{@type} Alert"

    %p="A user has requested that a #{@type} be deleted:"
    %ul
      %li= "Title: #{@title}"
      %li= "PID: #{@pid}"
      %li= "User: #{@user.name}"
      %li= "User Email: #{@user.email}"
      -if @type == t('drs.compilations.name').capitalize
        %li= "Depositor: #{@depositor_name}"
        %li= "Depositor Email: #{@depositor_email}"

    - if @pid
      %p= "A link to the #{@type} can be found #{link_to 'here', @object_url}".html_safe

    %p= "The reason for deletion is: #{@reason}".html_safe
