<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <%= header %>
  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section order-2">
      <%= title %>
      <%= embed %>
      <%= content %>
      <%= metadata %>
      <% metadata_sections.each do |section| %>
        <%= section %>
      <% end %>

      <% partials.each do |partial| %>
        <%= partial %>
      <% end %>

      <%= link_to report_a_problem_url(polymorphic_url(@document)),
                  class: 'btn btn-sm btn-link p-0',
                  target: '_blank',
                  rel: 'noopener',
                  title: 'Report a problem',
                  data: { 'bs-toggle': 'tooltip' } do %>
        <span class="visually-hidden">Report a problem</span>
        <i class="fa-regular fa-comment-dots" aria-hidden="true"></i>
      <% end %>
    </div>

    <%= thumbnail %>
  <% end %>
  <%= footer %>
<% end %>
