-if breadcrumbs.present?
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      - breadcrumbs.each do |breadcrumb|
        - if breadcrumb.link?
          %li.breadcrumb-item
            = link_to breadcrumb.label, breadcrumb.url
        - else
          %li.breadcrumb-item.active{"aria-current" => "page"}
            = breadcrumb.label
      %li.breadcrumb-item
        .dropdown.breadcrumb-add
          %a.text-decoration-none{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
            %i.fa-regular.fa-square-plus
            .ms-1.d-inline
              Add
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton1"}
            - if controller_name == "communities"
              %li
                %a.dropdown-item{:href => new_community_path(:parent_id => "#{params[:id]}")} New Community
              %li
                %a.dropdown-item{:href => new_collection_path(:parent_id => "#{params[:id]}")} New Collection
            - elsif controller_name == "collections"
              %li
                %a.dropdown-item{:href => new_collection_path(:parent_id => "#{params[:id]}")} New Collection
              %li
                %a.dropdown-item{:href => new_work_path(:parent_id => "#{params[:id]}")} New Work
            - else
              %li
                %a.dropdown-item{:href => "#"} Upload File

