.collections
  = render 'catalog/results_pagination'

  %table.table.table-striped
    - @collections.each do |collection|
      %tr
        %td
          .large= collection.title
        -if @type.to_s == "tombstoned"
          %td
            = link_to("View", admin_view_collection_path(collection), class: "btn btn-small btn-info")
          %td
            = link_to("Revive", admin_revive_collection_path(collection), class: "btn btn-small btn-warning")
        %td
          %a{ href: "#deleteModal", title: "Delete \"#{collection.title}\"?", data: {toggle: 'modal'}, class:"btn btn-danger btn-small" } Delete
          = render partial: 'admin/delete_modal', locals: { title: "Delete \"#{collection.title}\"?", button_title: "Delete", delete_path: "#{admin_delete_collection_path(collection)}", item: collection }

  = render 'catalog/results_pagination'
