%ul.breadcrumb
  %li
    = link_to 'Admin Panel', '/admin'
  %li.active
    = link_to 'Manage Users', '/admin/users'

%h2.page-header All Users

= will_paginate @users
- @users.each_with_index do |user, i|
  #accordion.accordion
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"style" => "text-decoration: none", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{i}"}
          =user.full_name
          ="(#{user.email})"
      .accordion-body.collapse{:id => "collapse#{i}"}
        .accordion-inner
          = link_to("Impersonate", root_path, class: "btn btn-mini btn-danger", style:"margin: 5px 0px")
          %dt NUID:
          %dd=user.nuid
          %dt Groups:
          -user.groups.each do |g|
            %dd=g
