!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :css
      "#{@diff_css}"
  %body
    %h3 Xml Editor Alert

    %p The XML editor has been used by a user.  Their attributes are
    as follows:
    %ul
      %li= "Name: #{@name}"
      %li= "Email: #{@email}"
      %li= "Core File PID: #{@pid} - #{core_file_url(@pid)}"

    :erb
      <%=@diff.html_safe%>
