.drs-item-add-details
  -if defined? item.creators and item.creators.length > 0
    %dl.drs-item-creators
      - item.creators.each_with_index do | creator, i |
        - if i < 2 and creator.length > 0
          %h5.drs-item-creator
            = creator
      - if item.creators.length > 3
        &hellip;
  - if !item.date_of_issue.blank?
    %dl.drs-item-date-of-issue-list
      %dt.drs-item-date-of-issue-label
        Date of Issue
      %dd.drs-item-date-of-issue
        %time{ "date-time" => item.date_of_issue }
          = item.date_of_issue
  - if !item.create_date.blank?
    %dl.drs-item-date-of-issue-list
      %dt.drs-item-date-of-issue-label
        Creation Date
      %dd.drs-item-date-of-issue
        %time{ "date-time" => item.create_date }
          = item.create_date
  - if !item.description.blank?
    %dl.drs-item-abstract-list
      %dt.drs-item-abstract-label
        Abstract
      %dd.drs-item-abstract{id: "abstract#{item.pid.delete':'}"}
        - if item.description.length > 120
          %span.ellipsis
            = item.description
          %a(href="#abstract#{item.pid.delete ":"}" data-toggle="ellipsis")
            %i.icon-expand-alt
            %span.sr-only
              Expand / collapse toggle
        - else
          = item.description
  - if item.klass == "NuCoreFile"
    %menu.btn-toolbar(type="toolbar")
      = render partial: 'nu_core_files/derivative_btn_group', locals: {contents: item.content_objects}
      - icon = render partial: 'shared/icon',  locals: { class_string: "icon-briefcase", alt_text: "Add to " + t('drs.compilations.name')}
      =link_to icon.html_safe , compilations_path(file: item.pid), remote: true, title:  "Add to " + t('drs.compilations.name'), data: {toggle: "tooltip"}, class: 'btn btn-mini btn-clear'
