%a{href: polymorphic_path(item)}
  %figure
    - if item.instance_of?(NuCoreFile)
      - if defined? dynamic_picture
        = render partial: 'shared/thumbnails/dynamic_picture', locals: { thumbs: item.thumbnail_list }
      -else
        =render partial: 'shared/thumbnails/thumbnail_picture', locals: { thumbs: item.thumbnail_list }
    - elsif item.instance_of?( SolrDocument )
      - #thumbs = item.fields_thumbnail_list_tesim
      = debug item[:thumbnail_list_tesim]
    - elsif item.instance_of?(NuCollection)
      = render partial: 'shared/icon', locals: {class_string: 'icon-folder-open'}
    - elsif item.instance_of?(Community)
      = render partial: 'shared/icon', locals: {class_string: 'icon-group'}
    -else
      = render partial: 'shared/icon', locals: {class_string: 'icon-file'}
    %figcaption
      - unless item.instance_of?( SolrDocument )
        = item.type_label