%a{ href: item.path }
  %figure
    - if @thumbs.length > 0
      =render partial: 'shared/thumbnails/thumbnail_picture', locals: { thumbs: @thumbs }
    - elsif item.klass == "CoreFile"
      - if item.type_label == "Zip"
        = render partial: 'shared/icon', locals: { class_string: 'icon-zip' }
      - else
        =render partial: 'shared/icon', locals: { class_string: 'icon-file' }
    - elsif item.klass == "Collection" # and doesn't have a thumbnail to render
      = render partial: 'shared/icon', locals: { class_string: 'icon-folder-open' }
    - elsif item.klass == "Community"
      = render partial: 'shared/icon', locals: { class_string: 'icon-group' }
    - elsif item.klass == "Employee"
      = render partial: 'shared/icon', locals: { class_string: 'icon-user' }
    - elsif item.klass == 'Compilation'
      =render partial: 'shared/icon', locals: { class_string: t('drs.compilations.icon') }
    -else #the most generic option
      = render partial: 'shared/icon', locals: { class_string: 'icon-file' }

    -if item.type_label
      %figcaption
        - if item.klass == "CoreFile" && item.embargo_date_in_effect?
          %span.label.small.embargoed
            = "Embargoed"
        - elsif item.klass == "CoreFile" && item.incomplete?
          %span.label.small.incomplete
            = "Incomplete"
        - elsif item.klass == "CoreFile" && item.in_progress?
          %span.label.small.updating
            = "Updating"
        - else
          %span.label.small
            = item.type_label
