%a{ href: "/#{item.klass.pluralize}/#{item.pid}" }
  %figure
    - if item.thumbnail_list.length > 0
      =render partial: 'shared/thumbnails/thumbnail_picture', locals: { thumbs: item.thumbnail_list }
    - elsif item.klass == "CoreFile"
      =render partial: 'shared/icon', locals: { class_string: 'icon-file' }
    - elsif item.klass == "Collection" # and doesn't have a thumbnail to render
      = render partial: 'shared/icon', locals: { class_string: 'icon-folder-open' }
    - elsif item.klass == "Community"
      = render partial: 'shared/icon', locals: { class_string: 'icon-group' }
    - elsif item.klass == "Employee"
      = render partial: 'shared/icon', locals: { class_string: 'icon-user' }
    -else #the most generic option
      = render partial: 'shared/icon', locals: { class_string: 'icon-file' }
    -if item.type_label
      %figcaption
        - if item.klass == "CoreFile" && item.embargo_date_in_effect?
          %span.label.small.embargoed
            = "Embargoed"
        - else
          %span.label.small
            = item.type_label
