%article.drs-item{data: { href: self.send("community_#{smart_collection}_path", params[:id]) }}
  %a{ href: self.send("community_#{smart_collection}_path", params[:id])}
    %figure
      = render partial: 'shared/icon', locals: { class_string: t("drs.featured_content.#{smart_collection}.icon") }
      -if smart_collection != "employees"
        %figcaption
          %span.label.small
            = "Featured"
      -else
        %figcaption
          %span.label.small
            = "People"
  .drs-item-details
    %header
      %h4.drs-item-title
        %a{ href: self.send("community_#{smart_collection}_path", params[:id])}
          = t("drs.featured_content.#{smart_collection}.name")
    .drs-item-add-details
      %dl.drs-item-abstract-list
        %dt.drs-item-abstract-label
          Abstract
        %dd.drs-item-abstract
          - if t("drs.featured_content.#{smart_collection}.description").length > 120
            %span.ellipsis
              = t("drs.featured_content.#{smart_collection}.description")
            %a(href="#abstract#{params[:id].delete ":"}" data-toggle="ellipsis")
              %i.icon-expand-alt
              %span.sr-only
                Expand / collapse toggle
          - else
            = t("drs.featured_content.#{smart_collection}.description")
