= form_tag(url_for(params), id: "select_per_page", method: "GET") do
  = label_tag :per_page do
    %strong= "Show"
    = select_tag( :per_page, options_for_select([10, 25, 50, 100, 'All'], params[:per_page] ? params[:per_page] : 50), class:"input-small" )
    ="per page"
    = submit_tag "Apply", class: 'btn btn-primary btn-small'
= will_paginate @images
%table.table.table-striped#report
  %th File Name
  %th Core File Title
  %th File Status
  %th
  - @images.each do |image|
    - if image.validity == true && image.modified == false
      -if CoreFile.exists?(image.pid)
        - cf = CoreFile.find("#{image.pid}")
        %tr.success
          %td
            = cf.original_filename
          %td
            = cf.title
          %td Success
          %td
            = link_to("View", core_file_path(cf.pid), class:"btn btn-small btn-success")
      -else
        %tr.success
          %td
            = image.original_file
          %td
            = image.title
          %td Success
          %td File no longer exists
    - elsif image.validity == true && image.modified == true
      -if CoreFile.exists?(image.pid)
        - cf = CoreFile.find("#{image.pid}")
        %tr.warning
          %td
            = cf.original_filename
          %td
            = cf.title
          %td
            = "Modified - #{image.exception}"
          %td
            = link_to("View", core_file_path(cf.pid), class:"btn btn-small btn-success")
      -else
        %tr.warning
          %td
            = image.original_file
          %td
            = image.title
          %td
            = "Modified - #{image.exception}"
          %td File no longer exists
    - else
      %tr.error
        %td
          = image.original_file
        %td
          = image.title
        %td
          = "Error - #{image.exception}"
        %td
          - if image.iptc != ""
            -if @report.loader_name == t('loaders.marcom.long_name')
              = link_to("View IPTC", loaders_marcom_iptc_path(image.id), class:"btn btn-small btn-warning")
            - elsif @report.loader_name == t('loaders.coe.long_name')
              = link_to("View IPTC", loaders_coe_iptc_path(image.id), class:"btn btn-small btn-warning")
            - elsif @report.loader_name == t('loaders.cps.long_name')
              = link_to("View IPTC", loaders_cps_iptc_path(image.id), class:"btn btn-small btn-warning")
            - elsif @report.loader_name == t('loaders.emsa.long_name')
              = link_to("View IPTC", loaders_emsa_iptc_path(image.id), class:"btn btn-small btn-warning")
            - elsif @report.loader_name == t('loaders.bouve.long_name')
              = link_to("View IPTC", loaders_bouve_iptc_path(image.id), class:"btn btn-small btn-warning")
            - elsif @report.loader_name == t('loaders.damore.long_name')
              = link_to("View IPTC", loaders_damore_iptc_path(image.id), class:"btn btn-small btn-warning")
            - elsif @report.loader_name == t('loaders.aaia.long_name')
              = link_to("View IPTC", loaders_aaia_iptc_path(image.id), class:"btn btn-small btn-warning")
            - elsif @report.loader_name == t('loaders.spreadsheet.long_name')
              = link_to("View MODS", loaders_spreadsheet_mods_path(image.id), class:"btn btn-small btn-warning")
            - elsif @report.loader_name == t('loaders.xml.long_name')
              = link_to("View MODS", loaders_xml_mods_path(image.id), class:"btn btn-small btn-warning")
