#report
  = form_tag(url_for(params), id: "select_per_page", method: "GET") do
    = label_tag :per_page do
      %strong= "Show"
      = select_tag( :per_page, options_for_select([10, 25, 50, 100, 'All'], params[:per_page] ? params[:per_page] : 50), class:"input-small" )
      ="per page"
      = submit_tag "Apply", class: 'btn btn-primary btn-small'
  = will_paginate @images
  %table.table.table-striped
    %th
      = sortable "original_file", "File Name"
    %th
      = sortable "title", "Core File Title"
    %th
      = sortable "validity", "File Status"
    %th
    - @images.each do |image|
      - image_doc = SolrDocument.new(ActiveFedora::SolrService.query("id:\"#{image.pid}\"").first)
      - if image.validity == true && image.modified == false
        %tr.success
          %td
            = image.original_file
          %td
            = image.title
          %td Success
          %td
            -if !image_doc.blank?
              = link_to("View", core_file_path(image.pid), class:"btn btn-small btn-success")
            -else
              File no longer exists
      - elsif image.validity == true && image.modified == true
        %tr.warning
          %td
            = image.original_file
          %td
            = image.title
          %td
            = "Modified - #{image.exception}"
          %td
            -if !image_doc.blank?
              = link_to("View", core_file_path(image.pid), class:"btn btn-small btn-success")
            -else
              File no longer exists
      - else
        %tr.error
          %td
            = image.original_file
          %td
            = image.title
          %td
            = "Error - #{image.exception}"
          %td
            - if image.iptc != ""
              -if @report.loader_name == t('loaders.marcom.long_name')
                = link_to("View IPTC", loaders_marcom_iptc_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.coe.long_name')
                = link_to("View IPTC", loaders_coe_iptc_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.cps.long_name')
                = link_to("View IPTC", loaders_cps_iptc_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.emsa.long_name')
                = link_to("View IPTC", loaders_emsa_iptc_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.bouve.long_name')
                = link_to("View IPTC", loaders_bouve_iptc_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.damore.long_name')
                = link_to("View IPTC", loaders_damore_iptc_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.aaia.long_name')
                = link_to("View IPTC", loaders_aaia_iptc_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.libcom.long_name')
                = link_to("View IPTC", loaders_libcom_iptc_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.camd.long_name')
                = link_to("View IPTC", loaders_camd_iptc_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.ogl.long_name')
                = link_to("View IPTC", loaders_ogl_iptc_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.spreadsheet.long_name')
                = link_to("View MODS", loaders_spreadsheet_mods_path(image.id), class:"btn btn-small btn-warning")
              - elsif @report.loader_name == t('loaders.xml.long_name')
                = link_to("View MODS", loaders_xml_mods_path(image.id), class:"btn btn-small btn-warning")
