- url = '/loaders/' + @loader_short_name
= form_tag(url, action: "create", method: "post", multipart: true, id: "loaderForm") do
  .row
    %fieldset.span4
      %legend
        1. Terms of Service Agreement
      %span.help-block
        Please read and accept the
        %a{href: "/terms"}
          terms of use
      %label.checkbox.required-label{ for: "terms_of_service" }
        I have read and accept the terms of service.
        = check_box_tag 'terms_of_service', 1, nil, data: { activate:  "activate-submit" }
    - if (@loader_short_name != 'spreadsheet' && @loader_short_name != 'xml') || ((@loader_short_name == 'spreadsheet' || @loader_short_name == 'xml') && new)
      %fieldset.span4
        %legend
          2. Choose Collection
        = label_tag "parent", "Where do you want to deposit these files?", class: "required-label"
        - if @loader_short_name == 'multipage' || @loader_short_name == 'spreadsheet' || @loader_short_name == 'xml'
          - if !current_user.nil? && ( current_user.admin_group? || current_user.admin? )
            = text_field_tag :parent, "", id: "parent", required: true
          -else
            :javascript
              var collections_for_autocomplete = #{@collections_options.to_json}
            = text_field_tag :parent, "", id: 'collection_autocomplete', required: true
            = hidden_field_tag :parent, "", id:"collection_parent", required: true
        - else
          = select_tag "parent", options_for_select(@collections_options), {prompt: 'Select Collection', required: true}
    %fieldset.span4
      %legend
        - if new
          3. File Upload
        - else
          2. File Upload
      - if @loader_short_name == 'spreadsheet' || @loader_short_name == 'xml'
        = hidden_field_tag :new, new
      = label_tag "file", "File to upload", class: "required-label"
      = file_field_tag 'file', required: true, "aria-required" => true, "accept"=>".zip,.tar"
      %p
        %small
          Files of type .zip are restricted to 2GB. Files of type .tar have no size restriction.
          Compressed .tar files (.tgz, .tar.gz, .tar.bz2 etc.) are not supported.
          Please
          %a{:href => "mailto:Library-Repository-Team@neu.edu"} contact the DRS staff
          for help if you're unfamiliar with these file types.
  .progress.progress-striped
    .bar{style: "width:0%"}
  .form-actions
    = submit_tag "Upload", disabled: "true", class: 'btn btn-large btn-primary activate-submit', data: { disable_with: "Please wait..."}, id: "loaderSubmit"

:javascript
  $('#file').bind('change', function() {
    if ((this.files[0].name.endsWith(".zip")) || (this.files[0].name.endsWith(".tar"))) {
      $(".alert").remove();
      if ($('#terms_of_service').is(':checked')) {
        $("input[type='submit']").removeProp("disabled");
      }
    } else {
      $(this).before('<div class="alert alert-warning">The file you chose needs to be either .zip or .tar</div>');
      $("input[type='submit']").prop("disabled", "true");
    }
  });

:javascript
  $('#file').bind('change', function() {
    if (this.files[0].size/ 1024000 > 2000 && (this.files[0].name.endsWith(".zip"))) {
      $(this).before('<div class="alert alert-warning">The zip you chose is larger than 2GB.</div>');
      $("input[type='submit']").prop("disabled", "true");
    } else {
      $(".alert").remove();
      if ($('#terms_of_service').is(':checked')) {
        $("input[type='submit']").removeProp("disabled");
      }
    }
  });
