- collection = Collection.find(@load.collection)

%ul.breadcrumb
  %li
    = link_to 'My Loaders', my_loaders_path
  %li
    -if @load.loader_name == t('drs.loaders.marcom.long_name')
      - path = loaders_marcom_report_path(@load.id)
    - elsif @load.loader_name == t('drs.loaders.engineering.long_name')
      - path = loaders_engineering_report_path(@load.id)
    - elsif @load.loader_name == t('drs.loaders.cps.long_name')
      - path = loaders_cps_report_path(@load.id)
    = link_to "#{@load.loader_name} Load into #{collection.title}", path
  %li.active
    = image.original_file

%h2.page-header
  = image.original_file
%h4
  Created at:
  = @load.created_at.strftime("%m-%d-%Y %T")
%h4
  File Status:
  = "Error - #{image.exception}"
%h4
  IPTC Data:
%table.table.table-striped.table-bordered
  - image.iptc.sort.map do |key, value|
    %tr
      %td= key
      %td= value
