- collection = Collection.find(@load.collection)

%ul.breadcrumb
  %li
    = link_to 'My Loaders', my_loaders_path
  %li
    -if @load.loader_name == t('loaders.marcom.long_name')
      - path = loaders_marcom_report_path(@load.id)
    - elsif @load.loader_name == t('loaders.coe.long_name')
      - path = loaders_coe_report_path(@load.id)
    - elsif @load.loader_name == t('loaders.cps.long_name')
      - path = loaders_cps_report_path(@load.id)
    - elsif @load.loader_name == t('loaders.emsa.long_name')
      - path = loaders_emsa_report_path(@load.id)
    - elsif @load.loader_name == t('loaders.bouve.long_name')
      - path = loaders_bouve_report_path(@load.id)
    - elsif @load.loader_name == t('loaders.damore.long_name')
      - path = loaders_damore_report_path(@load.id)
    - elsif @load.loader_name == t('loaders.aaia.long_name')
      - path = loaders_aaia_report_path(@load.id)
    - elsif @load.loader_name == t('loaders.spreadsheet.long_name')
      - path = loaders_spreadsheet_report_path(@load.id)
    = link_to "#{@load.loader_name} Load into #{collection.title}", path
  %li.active
    = image.original_file.blank? ? image.title : image.original_file

%h2.page-header
  = image.original_file.blank? ? image.title : image.original_file
%h4
  Created at:
  = @load.created_at.strftime("%m-%d-%Y %T")
%h4
  File Status:
  = "Error - #{image.exception}"
%h4
  = @load.loader_name == t('loaders.spreadsheet.long_name') ? "Spreadsheet Data:" : "IPTC Data:"
%table.table.table-striped.table-bordered
  - if @load.loader_name == t('loaders.spreadsheet.long_name')
    - image.iptc.each do |key, value|
      %tr
        %td= key.titleize
        %td= value
  - else
    - begin
      - image.iptc.sort.map do |key, value|
        %tr
          %td= key
          %td= value
    - rescue => exception
      - image.iptc.each do |key, value|
        %tr
          %td= key
          %td= value
