-content_for :page_header do
  %h1.page-header
    =@page_title
.row
  .span12
    %h2= "What type of files are you uploading?"
  .span6
    %a{:href=>"", :class=>"btn btn-lg btn-primary new-files", }
      %h2{:style=>"color:#fff"}
        = "New Files"
  .span6
    %a{:href=>"", :class=>"btn btn-lg btn-primary existing-files", }
      %h2{:style=>"color:#fff"}
        = "Existing Files"

%br
.row
  .span12.upload_form
:javascript
  $(".new-files").click(function(e){
    e.preventDefault();
    $.ajax({
      url: "/loaders/#{@loader_short_name}/process_new",
      data: {new: true} ,
      success: function(results){
      }
    });
  });
  $(".existing-files").click(function(e){
    e.preventDefault();
    $.ajax({
      url: "/loaders/#{@loader_short_name}/process_new",
      data: {new: false} ,
      success: function(results){
      }
    });
  })
