-content_for :page_header do
  %h1.page-header
    =@page_title
.row
  .span12
    %h2= "What are you uploading?"
    %br
  .span6.text-center
    %a{:href=>"", :class=>"btn btn-lg btn-primary new-files", }
      %h2{:style=>"color:#fff"}
        = "New Files + Metadata"
  .span6.text-left
    %a{:href=>"", :class=>"btn btn-lg btn-primary existing-files", }
      %h2{:style=>"color:#fff"}
        = "Metadata Only"
%br
%br
.row
  .span12.upload_form
:javascript
  $(".new-files").click(function(e){
    e.preventDefault();
    $(".existing-files").addClass("btn-primary").removeClass("btn-info");
    $(this).addClass("btn-info").removeClass("btn-primary");
    $.ajax({
      url: "/loaders/#{@loader_short_name}/process_new",
      data: {new: true} ,
      success: function(results){
      }
    });
  });
  $(".existing-files").click(function(e){
    e.preventDefault();
    $(".new-files").addClass("btn-primary").removeClass("btn-info");
    $(this).addClass("btn-info").removeClass("btn-primary");
    $.ajax({
      url: "/loaders/#{@loader_short_name}/process_new",
      data: {new: false} ,
      success: function(results){
      }
    });
  })
