-content_for :page_header do
  %h1.page-header
    =@page_title
.row
  .span12
    %h2= "What are you uploading?"
    %br
  .span6.text-center
    %a{:href=>"", :class=>"btn btn-lg btn-primary new-files", }
      %h2{:style=>"color:#fff"}
        = "New Files + Metadata"
  .span6.text-left
    %a{:href=>"", :class=>"btn btn-lg btn-primary existing-files", }
      %h2{:style=>"color:#fff"}
        = "Metadata Only"
%br
%br
.row
  .span12.upload_form
= render partial: '/loaders/new_js'
:javascript
  $(document).ready(function(){
    $(".new-files").click(function(e){
      e.preventDefault();
      $(".existing-files").addClass("btn-primary").removeClass("btn-info");
      $(this).addClass("btn-info").removeClass("btn-primary");
      $(".upload_form").html("#{escape_javascript @new_form}");
      drsApp.handleDrsCollectionsAutoComplete();
      drsApp.termsOfService();
      activate_form();
    });
    $(".existing-files").click(function(e){
      e.preventDefault();
      $(".new-files").addClass("btn-primary").removeClass("btn-info");
      $(this).addClass("btn-info").removeClass("btn-primary");
      $(".upload_form").html('#{escape_javascript @existing_form}');
      drsApp.handleDrsCollectionsAutoComplete();
      drsApp.termsOfService();
      activate_form();
    });
  });
