-content_for :page_header do
  %h1.page-header
    Validate Spreadsheet

%ul.breadcrumb
  %li
    = link_to 'My Loaders', '/my_loaders'
  %li.active
    = "Upload Spreadsheet"

.row
  .span12.upload_form
    = form_tag(process_spreadsheet_validation_path, action: "create", method: "post", multipart: true, id: "loaderForm") do
      .row
        %fieldset.span4
          %legend
            1. Terms of Service Agreement
          %span.help-block
            Please read and accept the
            %a{href: "/terms"}
              terms of use
          %label.checkbox.required-label{ for: "terms_of_service" }
            I have read and accept the terms of service.
            = check_box_tag 'terms_of_service', 1, nil, data: { activate:  "activate-submit" }
        %fieldset.span4
          %legend
            2. File Upload
          = label_tag "file", "File to upload", class: "required-label"
          = file_field_tag 'file', required: true, "aria-required" => true, "accept"=>".xlsx"
          %p
            %small
              Only spreadsheets named manifest.xlsx are supported.
      .form-actions
        = submit_tag "Upload", disabled: "true", class: 'btn btn-large btn-primary activate-submit', data: { disable_with: "Please wait..."}, id: "loaderSubmit"

:javascript
  $('#file').bind('change', function() {
    if (this.files[0].name === "manifest.xlsx") {
      $(".alert").remove();
      if ($('#terms_of_service').is(':checked')) {
        $("input[type='submit']").removeProp("disabled");
      }
    } else {
      $(this).before('<div class="alert alert-warning">The file you chose needs to be named manifest.xlsx</div>');
      $("input[type='submit']").prop("disabled", "true");
    }
  });
