-content_for :page_header do
  %h1.page-header
    Validate Spreadsheet

%ul.breadcrumb
  %li
    = link_to 'My Loaders', '/my_loaders'
  %li.active
    = "Validate Spreadsheet"

.row
  .span12.upload_form
    = form_tag(process_spreadsheet_validation_path, action: "create", method: "post", multipart: true, id: "loaderForm") do
      .row
        %fieldset.span4
          = label_tag "file", "Spreadsheet to validate", class: "required-label"
          = file_field_tag 'file', required: true, "aria-required" => true, "accept"=>".xlsx"
          %p
            %small
              Only spreadsheets named manifest.xlsx are supported.
      .form-actions
        = submit_tag "Upload", disabled: "true", class: 'btn btn-large btn-primary activate-submit', data: { disable_with: "Please wait..."}, id: "loaderSubmit"

:javascript
  $('#file').bind('change', function() {
    if (this.files[0].name === "manifest.xlsx") {
      $(".alert").remove();F
      $("input[type='submit']").removeProp("disabled");
    } else {
      $(this).before('<div class="alert alert-warning">The file you chose needs to be named manifest.xlsx</div>');
      $("input[type='submit']").prop("disabled", "true");
    }
  });
