%ul.breadcrumb
  %li
    = link_to 'My Loaders', '/my_loaders'
  %li.active
    = "#{@report.loader_name} Load into "
    - if @collection
      %em
        = link_to(@collection.title, collection_path(@report.collection))
    - else
      = "N/A"

%h2.page-header
  = "#{@report.loader_name} Load into "
  - if @collection
    %em
      = link_to(@collection.title, collection_path(@report.collection))
  - else
    = "N/A"
%h4
  Created at:
  = @report.created_at.strftime("%m-%d-%Y %T")
%h4
  User:
  = @user.name
%h4
  Total Files:
  %span.file_count
    = "#{@report.number_of_files} (Successful: #{@report.success_count}, Modified: #{@report.modified_count}, Error: #{@report.fail_count})"

%br
=render :partial=>"/loaders/load_report", locals: {images: @images, user: @user}

:javascript
  $(document).ready(function(){
    check_report(#{@report.completed});
    function check_report(report_completed){
      if (report_completed == "false" || report_completed == false){
        spinner = enable_spinner('report');
        setTimeout(refresh_report, 30000);
      } else {
        $(".alert-success").html("This load is completed.");
      }
    }
    function refresh_report(){
      $.getScript(location.href).done( function(data) {
        check_report(completed);
      });
    }
  });
