- content_for(:page_title) do
  = @community.title
- content_for(:container_header) do
  = render 'shared/breadcrumbs'
  -# = breadcrumbs

  .container.p-4.my-3.well.rounded-3
    .row
      = render partial: "shared/thumbnail", locals: {src: @community.thumbnail, src_2x: @community.thumbnail_2x} if !@community.thumbnail.blank?
      .col
        - if @response.documents.present? || params[:q].present?
          .scoped-search-wrap.float-md-end.ms-md-3.mb-3.mb-md-0
            = render 'shared/scoped_search', path: community_path(@community.id), label: 'Search this community'
        %h3.d-inline
          = @community.title
        %h5.d-inline.text-black-50
          %span.fa-solid.fa-users.ps-2.pe-1
          Community
        .clearfix.pt-3
        = @community.description
        .clearfix.pt-3
          = link_to community_people_path(@community.id), class: 'btn btn-sm btn-outline-secondary' do
            %span.fa-solid.fa-users.me-1{ 'aria-hidden' => 'true' }
            Faculty &amp; Staff
          - if user_signed_in?
            .float-end
              = link_to "Edit", edit_community_path(@community.id), class: "px-3"
              - if @can_tombstone && @response.documents.empty?
                = render 'shared/tombstone_modal',
                         id:   @community.id,
                         kind: 'community',
                         path: tombstone_community_path(@community.id)

-# Only mount the facet sidebar when the community has children. An empty
-# community falls through to catalog/_zero_results' calm empty state and goes
-# full-width (no "Limit your search" / sort / per-page chrome to show).
- if @response.documents.present?
  - content_for(:sidebar) do
    = render 'catalog/search_sidebar'

= render 'catalog/search_results'
= render 'shared/downloads_modal'
