- content_for(:page_title) do
  = @community.title
- content_for(:container_header) do
  = render 'shared/breadcrumbs'
  -# = breadcrumbs

  .container.p-4.my-3.well.rounded-3
    .row
      = render partial: "shared/thumbnail", locals: {src: @community.thumbnail, src_2x: @community.thumbnail_2x} if !@community.thumbnail.blank?
      .col
        %h3.d-inline
          = @community.title
        %h5.d-inline.text-black-50
          %span.fa-solid.fa-users.ps-2.pe-1
          Community
        .clearfix.pt-3
        = @community.description
        .clearfix.pt-3
          - if user_signed_in?
            .float-end
              = link_to "Edit", edit_community_path(@community.id), class: "px-3"
              - if @can_tombstone && @response.documents.empty?
                = render 'shared/tombstone_modal',
                         id:   @community.id,
                         kind: 'community',
                         path: tombstone_community_path(@community.id)

- content_for(:sidebar) do
  = render 'catalog/search_sidebar'

= render 'catalog/search_results'
= render 'shared/downloads_modal'

.container
  .row
    .col-md-12
      = render partial: 'audit_events/history', locals: { resource_id: @community.id }
