- content_for(:container_header) do
  = breadcrumbs

  .p-4.my-3.well.rounded-3
    %h3.d-inline
      = @community["title"]
    %h5.d-inline.text-black-50
      %span.fa-solid.fa-users.ps-2.pe-1
      Community
    .clearfix.pt-3
    = @community["description"]
    .clearfix.pt-3
      .float-end
        = link_to "Edit", edit_community_path(@community["id"]), class: "px-3"
        = link_to "Delete", "#", class: "px-3"

- content_for(:sidebar) do
  = render 'catalog/search_sidebar'

= render 'catalog/search_results'
