%ul.breadcrumb
  - breadcrumb_to_root(@set).each do |breadcrumb|
    =breadcrumb

%article.well.clearfix
  %h1{:class => @set.klass, :id => "#{@set.pid}-title"}
    = render partial: 'shared/icon', locals: { class_string: t("drs.significant.#{smart_collection}.icon") }
    = t("drs.significant.#{smart_collection}.name")
    %small
      Featured Content
  %p
    = t("drs.significant.#{smart_collection}.description")

/ .row
/   - if current_user
/     - current_user.view_pref
/     %aside.drs-sidebar{class: current_user.view_pref == 'grid' ? 'span12' : "span3" }
/       =render partial: 'shared/sets/sets_sidebar'

/     %section{class: current_user.view_pref == 'grid' ? 'span12' : "span9" }
/       =render :partial => 'catalog/document_list'
/       =render partial: 'shared/sets/bottom_action_menu'
/   - else
/     %aside.span3
/       =render partial: 'shared/sets/sets_sidebar'

/     %section.span9
/       =render :partial => 'catalog/document_list'

/ %div#add_compilation_form{ style: 'display:none' }
