%ul.breadcrumb
  - smart_collection_breadcrumb(@set).each do |breadcrumb|
    =breadcrumb
  = content_tag(:li, t("drs.featured_content.#{smart_collection}.name"), class: 'active')

%article.well.clearfix
  %h1{:class => @set.klass, :id => "#{@set.pid}-title"}
    = render partial: 'shared/icon', locals: { class_string: t("drs.featured_content.#{smart_collection}.icon") }
    = t("drs.featured_content.#{smart_collection}.name")
    - if smart_collection != "employees"
      %small
        Featured Content
    = render partial: 'catalog/search_form', locals: {smart_collection: "#{smart_collection}", scope: "true", scoped_placeholder: "Search this featured content" }
  %p
    = t("drs.featured_content.#{smart_collection}.description")

- if render_constraints(params) != ""
  %h1.page-header
    %i.icon-search
    %small
      = render_constraints(params)

= render 'shared/smart_collections/smart_collection'
