%ul.breadcrumb
  - smart_collection_breadcrumb(@set).each do |breadcrumb|
    =breadcrumb
  = content_tag(:li, t("drs.significant.#{smart_collection}.name"), class: 'active')

%article.well.clearfix
  %h1{:class => @set.klass, :id => "#{@set.pid}-title"}
    = render partial: 'shared/icon', locals: { class_string: t("drs.significant.#{smart_collection}.icon") }
    = t("drs.significant.#{smart_collection}.name")
    - if smart_collection != "employees"
      %small
        Featured Content
    = render partial: 'catalog/search_form', locals: {scope: @set.pid, smart_search: smart_collection }
  %p
    = t("drs.significant.#{smart_collection}.description")

.row
  - if current_user
    - current_user.view_pref
    %aside.drs-sidebar{class: current_user.view_pref == 'grid' ? 'span12' : "span3" }
      =render partial: 'shared/sets/sets_sidebar'

    %section{class: current_user.view_pref == 'grid' ? 'span12' : "span9" }
      / =render :partial => 'catalog/_index_partials/default_group'
      %ul.drs-items{start: 1, data: {toggle: "drs-view"}, class: drs_view_class()}
        -if !@smart_docs.nil?
          - @smart_docs.each do |document|
            - @thumbs = document.thumbnail_list
            = render partial: 'shared/drs_item/drs_item' , locals: { item: document }
      =render partial: 'shared/sets/bottom_action_menu'
  - else
    %aside.span3
      =render partial: 'shared/sets/sets_sidebar'

    %section.span9
      / =render :partial => 'catalog/_index_partials/default_group'
      %ul.drs-items{start: 1, data: {toggle: "drs-view"}, class: drs_view_class()}
        -if !@smart_docs.nil?
          - @smart_docs.each do |document|
            - @thumbs = document.thumbnail_list
            = render partial: 'shared/drs_item/drs_item' , locals: { item: document }

%div#add_compilation_form{ style: 'display:none' }
