.btn-group.pull-right
  - if user_signed_in?
    = render :partial => 'shopping_carts/tracker'
    = render :partial => 'users/notify_link'
    %a.btn{:href => sufia.profile_path(current_user), :title => "click for User Profile"}
      %i.icon-user &nbsp;
      = current_user.name
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %span.icon-caret-down{:title => "click for additional menu options"}
    %ul.dropdown-menu
      %li{:class => ("active" if action_name == "personal_graph")}
        = link_to raw('<i class="icon-dashboard"></i> My Drs'), personal_graph_path
      %li{:class => ("active" if controller_name == "compilations" && action_name == "index")}
        %a.top_nav{href: compilations_path}
          %i.icon-folder-open-alt
          Compilations
      %li.divider
      %li= link_to raw('<i class="icon-signout"></i> log out'), destroy_user_session_path, :id => 'logout_nav_link'
  - else
    = link_to raw('<i class="icon-signin"></i> Login'), user_omniauth_authorize_path(:shibboleth), :class => "btn"
