.btn-group.pull-right
  = render :partial => 'shopping_carts/tracker'
  - if user_signed_in?
    = render :partial => 'users/notify_link'
    %a.btn{:href => personal_graph_path, :title => "click for My DRS"}
      %span.icon-user( aria-hidden="true" )
      %span.sr-only
        User page
      = current_user.name
    %button.btn.dropdown-toggle{"data-toggle" => "dropdown",  "aria-label" => "Toggle user menu dropdown menu", :title => "click for additional menu options"}
      %span.icon-caret-down( aria-hidden="true" )
    %ul.dropdown-menu(role="menu")
      %li{:class => ("active" if action_name == "personal_files")}
        = link_to raw('<span class="icon-file" aria-hidden="true" ></span> My Deposits'), personal_files_path, "tab-index" => "-1"
      %li{:class => ("active" if controller_name == "compilations" && action_name == "index")}
        %a.top_nav{href: compilations_path,  "tab-index" => "-1"}
          %span.icon-folder-open-alt( aria-hidden="true" )
          =t('drs.compilations.name').capitalize + 's'
      %li.divider
      %li= link_to raw('<span class="icon-signout" aria-hidden="true" ></span> log out'), destroy_user_session_path, :id => 'logout_nav_link',  "tab-index" => "-1"
  - else
    = link_to raw('<span class="icon-signin" aria-hidden="true" ></span> Login'), new_user_session_path, :class => "btn"
