.btn-group.pull-right
  = render :partial => 'shopping_carts/tracker'
  - if user_signed_in?
    = render :partial => 'users/notify_link'
    - if !current_user.employee_id.blank?
      %a.btn{:href => personal_graph_path, :title => "click for My DRS"}
        %span.icon-user( aria-hidden="true" )
        %span.sr-only
          User page
        = current_user.pretty_name
    - else
      %a.btn.disabled{:href => "#"}
        %span.icon-user( aria-hidden="true" )
        = current_user.pretty_name
    %button.btn.dropdown-toggle{"data-toggle" => "dropdown",  "aria-label" => "Toggle user menu dropdown menu", :title => "click for additional menu options"}
      %span.icon-caret-down( aria-hidden="true" )
    %ul.dropdown-menu(role="menu")
      - if !current_user.employee_id.blank?
        %li{:class => ("active" if action_name == "personal_files")}
          = link_to raw('<span class="icon-file" aria-hidden="true" ></span> My Deposits'), personal_files_path, "tab-index" => "-1"
      - if current_user.loader?
        %li{:class => ("active" if action_name == "my_loaders")}
          %a.top_nav{href: my_loaders_path, "tab-index" => "-1"}
            %span.icon-upload-alt( aria-hidden="true")
            My Loaders
      %li{:class => ("active" if controller_name == "compilations" && action_name == "index")}
        %a.top_nav{href: compilations_path,  "tab-index" => "-1"}
          %span.icon-folder-open-alt( aria-hidden="true" )
          =t('drs.compilations.name').capitalize + 's'
      %li.divider
      %li= link_to raw('<span class="icon-signout" aria-hidden="true" ></span> log out'), destroy_user_session_path, :id => 'logout_nav_link',  "tab-index" => "-1"
  - else
    - if Rails.env.production?
      = link_to raw('<span class="icon-signin" aria-hidden="true" ></span> Login'), "https://repository.library.northeastern.edu/users/auth/shibboleth", :class => "btn"
    - else
      = link_to raw('<span class="icon-signin" aria-hidden="true" ></span> Login'), new_user_session_path, :class => "btn"
