= csrf_meta_tag
%meta{:charset => "utf-8"}/
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}

%title= h(title_string(@page_title))
/ application css
= stylesheet_link_tag 'application'
- if content_for?(:extra_head_contet)
  = yield :extra_head_content
= yield(:css_head)
/ controller specific uploader
/ [if IE 7]
  = stylesheet_link_tag 'ie7'

= yield(:js_head)

= javascript_include_tag 'application'

:javascript
  var spinner;
  function enable_spinner (div) { var target = document.getElementById(div); var spinner = new Spinner({top: '25px', left: '25px'}).spin(target); return spinner;};
