= csrf_meta_tag
%meta{:charset => "utf-8"}/
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
%meta(name="google-site-verification" content="gKw8UJgjDO-BuDUKo6oibOOwCuXI1GXuWoUuYyvS_g0")
%meta{content: content_for?(:description) ? yield(:description) : "The Digital Repository Service is a secure repository system, designed to store and share scholarly, administrative, and archival materials from the Northeastern University community. The DRS was developed by the Northeastern University Library as a tool for University faculty and staff to protect the valuable information and data that has been created as part of the University’s research and instructional mission. It provides long-term security for the files it stores, as well as access management controls and support for various metadata standards to help ensure that data is as accessible and usable in the present and the future.", name: "description"}
%meta{content: content_for?(:keywords) ? yield(:keywords) : "Digital Repository Service, DRS, Northeastern University Libraries, Northeastern University Library, digital repository, digital repositories, faculty research, theses, dissertations, ETDs", name: "keywords"}
-if content_for?(:author)
  %meta{content: yield(:author), name: "author"}

%title= h(title_string(@page_title))
/ application css
= stylesheet_link_tag 'application'
- if content_for?(:extra_head_contet)
  = yield :extra_head_content
= yield(:css_head)
/ controller specific uploader
/ [if IE 7]
  = stylesheet_link_tag 'ie7'

= yield(:js_head)

= javascript_include_tag 'application'

:javascript
  var spinner;
  function enable_spinner (div) { var target = document.getElementById(div); var spinner = new Spinner({}).spin(target); return spinner;};
