!!! 5
%html
  %head
    = render :partial => "layouts/head-tag-content"
  %body
    = render :partial => '/masthead', :formats => [:html]
    = render :partial => '/flash_msg', :formats => [:html]
    / /.container
    .container
      = yield :page_header
    / /.container
    .container
      = yield :content
    / /.container
    = render partial: '/footer'
    / Javascript loaded at the end
    = render :partial => 'layouts/end-js-scripts'
    #ajax-modal.modal.hide{:tabindex => "-1"}
    = render :partial => '/ga', :formats => [:html]
    - unless Rails.env.production?
      = debug params