<!DOCTYPE html>
<html>
<head>
  <title>Cerberus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= render_body_class %>">

  <%= render :partial => 'shared/header_navbar' %>

  <%= render partial: 'shared/ajax_modal' %>

  <div id="main-container" class="<%= container_classes %>">
    <%= content_tag :h1, application_name, class: 'sr-only application-heading' %>

    <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

    <div class="row">
      <%= yield %>
    </div>
  </div>

  <%= render :partial => 'shared/footer' %>

</body>
</html>
