!!! 5
%html
  %head
    = render :partial => "layouts/head-tag-content"
  %body
    = render :partial => '/masthead', :formats => [:html]
    = render :partial => '/flash_msg', :formats => [:html]
    -if :page_header
      .container.page_header
        = yield :page_header
    .container
      = yield :content
    / /.container
    = render partial: '/footer'
    / Javascript loaded at the end
    = render :partial => 'layouts/end-js-scripts'
    #ajax-modal.modal.hide{:tabindex => "-1", "aria-labelledby" => "ajaxModalLabel", role: "dialog"}
    = render :partial => '/ga', :formats => [:html]
    - unless Rails.env.production?
      = debug params